[2014-02-28 09:30] kytrinyx opened #1 "Move code from exercism.io, csharp branch"
There are a few exercises in [a branch on exercism/exercism.io](https://github.com/exercism/exercism.io/tree/csharp)

@burtlo Would you mind moving them into this repository?

[2014-02-28 18:36] kytrinyx opened #2 "Implement C# exercises"
Copied from exercism/exercism.io#1125

-----

To implement C# in a lightweight manner, we need to sidestep creating a project file for every exercise. Using a project also makes it difficult to port to various platforms.

## Setup

### Linux

TBD

### Mac

* Install [MonoDevelop](http://www.mono-project.com/Mono:OSX#Installing_Mono_on_MacOS_X)

* Download [NUnit](http://nunit.org/?p=download)

* B

[2014-05-04 15:44] #1 closed, assigned to nobody

[2014-05-04 15:46] kytrinyx opened #7 "Launch C# track!"
@dinkelburt I've added you as a committer on the C# team. Thanks so much for porting all those exercises!

In order to launch the track officially we're going to need:

- [x] a getting started with C# page
- [x] a way to recognize submissions as C#
- [x] an ordered list of exercises
- [x] a submodule in x-api
- [x] list csharp in the active languages on exercism.io

I've got the last four covered,

[2014-08-17 03:01] kytrinyx opened #10 "Remove mention of RNA (uracil) from nucleotide-count problem?"
The metadata for this problem has been simplified, and it might be worth changing the test suite and example so that theres no mention of RNA or uracil.

I've also changed the API of the problem in Ruby so that there is no error checking in the object itself, only in the factory that creates it: https://github.com/exercism/xruby/blob/master/nucleotide-count/example.rb#L2-L8

I don't know if this i

[2014-08-24 15:42] #10 closed, assigned to nobody

[2014-08-31 19:18] kytrinyx opened #12 "Delete configlet binaries from history?"
I made a really stupid choice a while back to commit the cross-compiled
binaries for configlet (the tool that sanity-checks the `config.json`
against the implemented problems) into the repository itself.

Those binaries are HUGE, and every time they change the entire 4 or 5 megs get
recommitted. This means that cloning the repository takes a ridiculously long
time.

I've added a script that can be

[2014-08-31 19:27] kytrinyx opened #13 "Change design of meetup problem"
@pminten brought up a very good point about the API of meetup being
pretty terrible (See exercism/exercism.io#950).

If the meetup problem has not already been fixed in this track, we should
improve the test suite and example code to give the API a better design.

[2014-08-31 19:50] #13 closed, assigned to nobody

[2014-08-31 22:56] #12 closed, assigned to nobody

[2014-09-27 15:22] kytrinyx opened #16 "Make Hamming conform to official definition"
From issue https://github.com/exercism/exercism.io/issues/1867

Let's clean this up so that we're using the official definition.

[2014-09-29 09:31] FredrikEdenqvist opened #17 "Hamming exercis broken"
When downloading Hamming I have this version (csharp):
(Test files differs aswell)

[code]

In the web I see this version:

[code]

[2014-09-29 13:22] #17 closed, assigned to nobody

[2014-10-05 20:38] #16 closed, assigned to bressain

[2014-10-15 10:28] kytrinyx opened #22 "Fix crypto-square to use a square, not groups of five"
Somewhere along the line we lost the _square_ part of the crypto square problem, replacing the grouping with the standard groupings of 5.

The test suite should be updated to reflect the squarishness of this problem.

See https://github.com/exercism/x-common/pull/28

[2014-11-14 03:28] #22 closed, assigned to nobody

[2014-12-04 14:31] kytrinyx opened #27 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

---

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes how all the language

[2015-01-24 17:58] kytrinyx opened #29 "gigasecond: use times (not dates) for inputs and outputs"
A duration of a gigasecond should be measured in seconds, not
days.

The `gigasecond` problem has been implemented in a number of languages,
and this issue has been generated for each of these language tracks.
This may already be fixed in this track, if so, please make a note of it
and close the issue.

There has been some discussion about whether or not gigaseconds should
take daylight savings ti

[2015-03-22 16:11] kytrinyx opened #31 "Meetup - 5th Monday"
There is an interesting edge case in the meetup problem:
some months have five Mondays.

March of 2015 has five Mondays (the fifth being March 30th), whereas
February of 2015 does not, and so should produce an error.

------

Thanks, @JKesMc9tqIQe9M for pointing out the edge case.
See [exercism.io#2142](https://github.com/exercism/exercism.io/issues/2142).

[2015-03-22 20:37] kytrinyx commented on #31
As someone mentioned in the original issue:

Closing.

[2015-03-22 20:37] #31 closed

[2015-03-23 03:19] jwood803 commented on #7
I'm guessing this can be closed. :]

[2015-03-23 14:58] kytrinyx commented on #7
Hah. Yeah, it does seem that way. Thanks!

[2015-03-23 14:58] #7 closed

[2015-04-03 03:01] naruse opened #34 "C#: NUnit test suite not working with built in mono on OSX please read suggestion"
The tests assertions are written in the constraint-based model (which is pretty neat!) BUT even the latest mono (3.12.1) comes with NUnit 2.4.8, and the tests just dont work in the constraint-based model for that version; I solved this by downloading the latest version of NUnit (2.6)
found here http://nunit.org/index.php?p=download

How to repro: just try to build the 1rst excercise on C#

naruse@

[2015-04-03 04:50] kytrinyx commented on #34
Yeah, that sounds like a good approach.

This is the page in the docs https://github.com/exercism/docs/blob/master/app/pages/languages/getting-started-with-csharp.md (in case someone gets to it before I do).

[2015-04-08 15:36] #29 closed

[2015-07-16 14:41] NobbZ opened #37 "provide some utitlity to build exercises from CLI"
For developers using linux it is quite uncommon to install a large IDE like xamarin/monodevelop. Especially this is true for small projects like exercism exercises.

Is it possible to provide a Makefile or something equivalent that makes compiling/running tests from bash possible?

[2015-07-16 14:43] kytrinyx commented on #37
I have the same command-line bias (but I've never worked with C#). Do you know if there are any resources that talk about how that has been done elsewhere?

[2015-07-16 14:59] NobbZ commented on #37
AFAIK Microsoft uses some buildfile-format called msbuild. Some googling showed up the following ressource: https://msdn.microsoft.com/en-us/library/dd576348.aspx

These files can be run from commandline using `msbuild.exe` on windows or `xbuild` (from mono) on linux and Mac OSX. At least, thats the theory.

[2015-07-16 15:02] NobbZ opened #38 "Enhance description on how to set up Xamarin/monodevelop on Mac OSX/Linux"
I wanted to try some C# exercises in Xamarin until we have a solution for #37, but I am not able to open the actual exercise as a project in it. Xamarin wants to create some additional subfolders with subprojects in it.

I haven't find a way to import exercism files as exisitng sources.

Also there are 2 images on the description regarding set up/testrunning on Mac, but they don't show up/ don't l

[2015-07-16 15:08] jwood803 commented on #37
I dislike MSBUILD and find it very hard to work with. :}

However, I have been playing around with FAKE which should be the solution that's needed here.

[2015-07-16 15:09] jwood803 commented on #38
That's probably my fault. I'll double check the docs for the images.

I've been using Xamarin for a little while on the Mac but I'm totally unfamiliar with Monodevelop on Linux...

[2015-07-16 15:18] NobbZ commented on #38
As far as I understand the Xamarin Studio/monodevelop thingy, it is just that Xamarin Studio is the commercial Mac OS version of monodevelop.

At least monodevelops aboutpage tells me, that it is copyrighted by Xamarin Inc. since 2011 (and contributors), also it looks very similar to the screens that are shown on http://www.xamarin.com/studio (excluding some controls that seem to be themed by my w

[2015-07-16 15:19] NobbZ commented on #37
MSBUILD seems to have the advantage, that the msbuild-files can be opened by Visual/Xamarin Studio and monodevelop as projects for everyone who really wants that, can FAKE do this too?

[2015-07-16 16:18] jwood803 commented on #38
I believe that's correct. I can try to ping some folks who use it with Linux to see if they have any additional tips.

[2015-07-16 16:19] jwood803 commented on #37
FAKE scripts are just F# script files that can be opened in either editor. Feel free to read some on it [here](http://fsharp.github.io/FAKE/) that has some examples to see if that will work for you.

[2015-07-17 07:56] NobbZ commented on #37
So using FAKE would pull in F# as another dependency for trying out C#? XBuild is part of mono while F# has to be installed additionally.

[2015-12-20 16:53] NobbZ opened #44 "'NUnit.Framework.IgnoreAttribute' does not contain a constructor that takes 0 arguments"
Hi there!

When trying to do the leap-exercise, I am confronted with the following error:

[code]

It is repeating in lines 12, 19, and 26 of ``LeapTes.cs``.

I am using MSVS 2013 CE

and have the following packages.config:

[code]

Since the ``NUnit.Runners`` now does show as "NUnit Console Version 3" when searching I do think it is a versioning issue with NUnit. Could you please provide a proper

[2015-12-20 16:56] NobbZ opened #45 "How to run the tests?"
After I encountered #44, I simply removed all the `Ignore` things and tried to run. But then I do get an errormessage that I need to have an executable project. So how can I set up MS VS to actually run the tests instead of trying to run the projects executable?

[2015-12-20 17:45] NobbZ commented on #44
I downgraded to 2.6.4, now it seems to work.

[2015-12-20 17:46] NobbZ commented on #45
OK, after downgrading to NUnit 2.6.4 I was able to find that GUI-Runner mentioned in the help.

Is there a way tu run tests from inside Visual Studio?

[2015-12-20 18:29] kytrinyx commented on #45
/cc @jwood803 you know visual studio, right?

[2015-12-20 18:29] kytrinyx commented on #44
/cc @jwood803 (in case you know this stuff)

[2015-12-20 18:32] jwood803 commented on #44
Looks like the version 3 of NUnit had some breaking changes. Since this is the case, I'll get to updating the tests. Folks shouldn't have to specify what version of NUnit to use.

[2015-12-20 18:34] jwood803 commented on #45
@NobbZ What version of VS are you using? I *think* they may have included it to automatically pick up NUnit tests, but I'll have to double check it.

[2015-12-20 18:34] bressain commented on #44
Heh, beat me to it. Yeah, looks like a comment is required for Ignore attributes for nUnit 3.

[2015-12-20 18:41] bressain commented on #45
You might need to install an adapter for VS2013 http://www.nunit.org/index.php?p=vsTestAdapter&r=2.6.2

[2015-12-22 08:44] NobbZ commented on #45
OK, installing that adapter works. Perhaps mention this in the docs?

I do realise that running the tests from inside VS is somewhat slower than using the NUnit GUI, but switching away from VS over to that GUI eats up all of the benefits I had by using it. Also using VS as the test runner gives me the very strong benefit of compiling before test, while I always forgot it when using that external G

[2015-12-31 16:41] NobbZ commented on #37
Has there been any progression on this or a decission at least?

[2016-01-01 04:22] bressain commented on #37
I haven't had a chance to look at it unfortunately, but it's an interesting problem.

While Xamarin studio may feel heavy, it's probably the easiest way to get Mono installed. And because of how .Net currently requires proj files, it might be easier to have an IDE manage that.

If someone wants to take a shot at this before I can look into it, we take pull requests :-D

[2016-01-21 00:55] kytrinyx opened #46 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-01-23 08:49] ErikSchierboom commented on #37
I have been looking at various build systems lately, and MSBuild is not the best option to do cross-platform building. FAKE is a nice alternative, but it requires you to write the configuration file in F#. However, there is also another library named [CAKE](http://cakebuild.net/) that allows the configuration to be specified in a C# DSL.

Using FAKE or CAKE would allow the tests to be run from the

[2016-01-29 23:45] kytrinyx opened #48 "triangle: incorrect test in some tracks"
Please check if there's a test that states that a triangle with sides 2, 4, 2 is invalid. The triangle inequality states that for any triangle, the sum of the lengths of any two sides must be greater than or equal to the length of the remaining side. If this doesn't affect this track, go ahead and just close the issue.

[2016-01-30 20:32] jwood803 commented on #48
Yep, we [have that test](https://github.com/exercism/xcsharp/blob/master/triangle/TriangleTest.cs#L100)

[2016-01-31 17:02] kytrinyx commented on #48
Check out the discussion here: https://github.com/exercism/xerlang/issues/85

[2016-02-05 13:07] ErikSchierboom commented on #37
I managed to get something working for F#: https://github.com/exercism/xfsharp/pull/55
I'll be looking into getting this to working for C# too.

[2016-02-05 14:15] ErikSchierboom commented on #44
@bressain @jwood803 I am looking into this, but it is a bit hard to support both NUnit 3 *and* NUnit 2. This is because the `Ignore` propertiy of the `TestCase` attribute has changed type, from `bool` to `string`. Furthermore, the `Result` property in that class has been renamed to `ExpectedResult`, also a breaking change.

I have a branch that makes the tests compatible with NUnit 3, but is that

[2016-02-05 14:27] jwood803 commented on #44
I think we can just switch to support NUnit 3. It may be a bit of a weird transition to folks who are used to it being in NUnit 2 and, when they pull down the next exercise, have to upgrade to NUnit 3. Maybe we can just add this to the setup doc?

[2016-02-05 14:45] ErikSchierboom commented on #44
I've created a PR that updates the tests to use NUnit 3: #50

[2016-02-05 14:48] jwood803 commented on #44
You're quick @ErikSchierboom! And you even updated the docs! I'll merge this after meetings.

[2016-02-05 14:57] ErikSchierboom commented on #44
@jwood803 :sunglasses: Once this is merged, could you look at #49? Once that is merged, I think I can get a FAKE build script similar to the F# version working.

[2016-02-05 16:03] #44 closed

[2016-02-08 15:00] ErikSchierboom commented on #2
I am working to implement more of the missing exercises (beer-song and kindergarten-garden at the moment). However, I was wondering if we should use C# 6 features in the examples or not?

[2016-02-08 15:33] jwood803 commented on #2
If I recall, it comes with VS 2015 Community edition, so that may be ok.

[2016-02-08 15:40] ErikSchierboom commented on #2
Okay, I'll use C# 6 then. It's only the examples though, the tests themselves should be C# 5 I think.

[2016-02-09 11:04] #46 closed

[2016-02-10 09:54] ErikSchierboom commented on #37
I have a FAKE build script that currently builds all our examples. It would be easy to extend this to a general script with which you can run all or one exercise.

The problem is that at the moment, it is not possible to a language track to have additional scripts automatically be fetched. For context, see this comment by @kytrinyx: https://github.com/exercism/xfsharp/issues/32#issuecomment-178821

[2016-02-10 10:48] ErikSchierboom commented on #34
@naruse The updated examples all use NUnit v3. The documentation has also been updated (e.g. [docs/INSTALLATION.md](INSTALLATION.md). Perhaps you'd be willing to check the docs to see if they indeed properly guide you to using NUnit?

[2016-02-12 08:29] ErikSchierboom commented on #2
@kytrinyx PR #53 added four new exercises:

1. beer-song
2. pascals-triangle
3. saddle-points
4. kindergarten-garden

Could you update your initial comment to check these exercises?

[2016-02-14 02:08] kytrinyx commented on #2
Done. Thanks!

[2016-02-19 15:17] ErikSchierboom commented on #2
@kytrinyx The `linked-list` exercise is listed as not completed, but it has in fact already been added

[2016-02-21 19:22] kytrinyx commented on #2
Ah, thanks.

[2016-02-21 19:22] kytrinyx commented on #2
It's in the list twice, actually.

[2016-02-21 19:22] kytrinyx commented on #2
OK, deleted the superfluous one.

[2016-02-22 18:50] ErikSchierboom commented on #2
@kytrinyx The list of open issues contains the `point-mutations` exercise, which is now deprecated as per https://github.com/exercism/x-common/issues/184.

[2016-02-22 19:12] bressain commented on #2
@ErikSchierboom removed

[2016-02-22 20:15] ErikSchierboom commented on #2
@bressain Thanks! Only three to go :)

[2016-02-24 08:35] ErikSchierboom commented on #2
The `matrix` exercise has been added: #57

[2016-02-24 18:19] ErikSchierboom commented on #2
With #58 and #59 merged, all exercises have now been added! :tada:

[2016-02-24 18:21] jwood803 commented on #2
Awesome job, @ErikSchierboom! :beers:

[2016-02-24 18:35] #2 closed

[2016-02-24 21:21] bressain commented on #2
Thought I'd never see the day :raised_hands:

[2016-02-25 20:28] kytrinyx commented on #2
Holy smokes, this is great! Thanks y'all :)

[2016-03-13 16:24] kytrinyx commented on #48
There was a bit of confusion with this issue. I've summarized my current understanding here: https://github.com/exercism/x-common/issues/202

I am closing this issue. If necessary I will open a new issue once we have come to an agreement about how to resolve the inconsistencies and what exact steps to take.

[2016-03-13 16:24] #48 closed

[2016-03-13 19:54] kytrinyx opened #64 "Verify "Largest Series Product" exercise implementation"
There was some confusion in this exercise due to the ambiguous use of the term _consecutive_ in the README. This could be taken to mean _contiguous_, as in consecutive by position, or as in _consecutive numerically_. The the README has been fixed (https://github.com/exercism/x-common/pull/200).

**Please verify that the exercise is implemented in this track correctly** (that it finds series of con

[2016-03-23 12:32] petertseng opened #65 "Pass explicit list of multiples in "Sum of Multiples" exercise rather than defaulting to 3 and 5"
Hello, as part of https://github.com/exercism/x-common/issues/198 we'd like to make the sum of multiples exercise less confusing. Currently, the [README](https://github.com/exercism/x-common/blob/master/sum-of-multiples.md) specifies that if no multiples are given it should default to 3 and 5.

We'd like to remove this default, so that a list of multiples will always be specified by the caller. Th

[2016-03-24 09:26] #65 closed

[2016-04-02 17:20] kytrinyx opened #67 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-02 21:42] #67 closed

[2016-04-06 23:53] kytrinyx commented on #67
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 02:38] kytrinyx opened #70 "scrabble-score: replace 'multibillionaire' with 'oxyphenbutazone'"
The word _multibillionaire_ is too long for the scrabble board. _Oxyphenbutazone_, on the other hand, is legal.

Please verify that there is no test for _multibillionaire_ in the scrabble-score in this track. If the word is included in the test data, then it should be replaced with _oxyphenbutazone_. Remember to check the case (if the original is uppercase, then the replacement also should be).

I

[2016-04-07 02:48] kytrinyx opened #71 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-04-07 02:58] kytrinyx opened #72 "rna-transcription: don't transcribe both ways"
I can't remember the history of this, but we ended up with a weird non-biological thing in the RNA transcription exercise, where some test suites also have tests for transcribing from RNA back to DNA. This makes no sense.

If this track does have tests for the reverse transcription, we should remove them, and also simplify the reference solution to match.

If this track doesn't have any tests for

[2016-04-07 17:08] kytrinyx opened #73 "clock: canonical test data has been improved"
The JSON file containing canonical inputs/outputs for the Clock exercise has gotten new data.

There are two situations that the original data didn't account for:

- Sometimes people perform computation/mutation in the display method instead of in add. This means that you might have two copies of clock that are identical, and if you add 1440 minutes to one and 2880 minutes to the other, they displ

[2016-04-12 13:28] #70 closed

[2016-04-12 13:28] #71 closed

[2016-04-12 13:28] #72 closed

[2016-04-12 13:28] #73 closed

[2016-06-13 14:18] kytrinyx opened #75 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-06-14 14:57] #75 closed

[2016-08-18 19:26] kytrinyx opened #82 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-08-24 22:34] pckenney opened #84 "Using link to outdated version of NUnit Adapter causes tests to not be found"
In the section for "Create a New Visual Studio" there is a link to install the NUnit Test Adapter, here is the link given: https://visualstudiogallery.msdn.microsoft.com/6ab922d0-21c0-4f06-ab5f-4ecd1fe7175d

I also followed the steps of the Nuget Package Manager for Solution, and grabbed the latest NUnit.

This led to me installing version 2.0 of the Test Adapter but version 3.x of the NUnit frame

[2016-08-24 23:39] kytrinyx commented on #84
Yeah, that sounds like a good idea.

This is in [docs/INSTALLATION.md](https://github.com/exercism/xcsharp/blob/master/docs/INSTALLATION.md)

[2016-08-25 11:00] ErikSchierboom commented on #84
Agreed. As @kytrinyx mentioned, the documentation found is in this repro. Would you be willing to send a PR?

[2016-08-25 19:49] pckenney commented on #84
OK I have submitted a pull request.

Problem was a bit more nuanced than I initially though, since the Exercism Template does use version 2.x of the NUnit framework, so it is correct to install 2.0 of the Adapter in that workflow.

I have explained more fully the issue/fix in the PR.

Feedback on how I did this is welcome, it's my first pull request against a public project like this so let me kno

[2016-08-26 06:42] ErikSchierboom commented on #84
Your [PR](https://github.com/exercism/xcsharp/pull/85) has been merged! Thanks a lot! :tada:

[2016-08-26 06:42] #84 closed

[2016-08-30 11:15] ErikSchierboom commented on #82
Just to track progress:

- [ ] Add the exercises key with the array of objects, where difficulty is 1 and topics is empty.
- [ ] Update the difficulty settings to reflect a more accurate guess.
- [ ] Add topics (perhaps one-by-one, in separate pull requests, in order to have useful discussions about each exercise).

[2016-08-30 12:07] ErikSchierboom commented on #82
A [PR](https://github.com/exercism/xcsharp/pull/86) has been submitted that will add the topics. Waiting on a discussion there to finalize the input.

[2016-08-31 08:43] #82 closed

[2016-08-31 08:44] ErikSchierboom commented on #34
@naruse Unless you disagree, I think we'll close this issue.

[2016-08-31 09:44] #64 closed

[2016-08-31 11:01] ErikSchierboom opened #91 "Deprecate binary/trinary/octal/hexadecimal in favor of all-your-base"
See https://github.com/exercism/x-common/issues/279

[2016-08-31 11:52] #91 closed

[2016-09-02 14:34] kytrinyx commented on #82
I like the checklist. I should have thought to put that in the original issue!

[2016-09-09 17:36] kytrinyx opened #109 "Help writing tests for the windows installer?"
This might be a bit of a long shot, but would anyone here be able to help get us set up to write unit tests for the exercism windows installer? https://github.com/exercism/windows-installer/issues/6

[2016-09-12 06:13] ErikSchierboom commented on #109
I'm sorry, but I have no idea how to test a Windows installer, sorry.

[2016-09-12 17:53] kytrinyx commented on #109
It was a long shot :) I simply don't have the first clue who might know this stuff!

[2016-10-16 13:05] IanWhitney opened #134 "Changes to Bowling tests"
We recently rewrote the test suite for Bowling. Since this track implements Bowling, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/9049dc7f748fd038b140c878c4eaa89d09b73199/exercises/bowling/canonical-data.json) and see if your track should update its implementation or tests.

The new test suite reorders tests so that students can get to green qu

[2016-10-23 15:53] #134 closed

[2016-10-26 08:01] ErikSchierboom opened #138 "Use default file"
Some tracks lessen the barrier for users by providing an empty implementation file, which prevents the user from having to create the file themselves. An example of such a track is the Elm track, but the Scala track is also [discussing this](https://github.com/exercism/xscala/issues/137). How do you all feel about this? I think it would indeed lower the barrier, especially if we will also be provi

[2016-11-17 18:45] AlexMcConnell commented on #38
Did you ever figure this out, NobbZ? It hasn't been fixd.

[2016-11-17 20:28] NobbZ commented on #38
Sorry, I never tried it further but used MSVC from a windows VirtualBox I still had floating around. But gave up on .NET in general very fast.

[2016-11-17 20:39] AlexMcConnell commented on #38
Dang. I don't have much interest in .NET backend, but I'm very interested in Xamarin and Unity.

[2016-11-18 07:13] ErikSchierboom commented on #38
Well, once the new .NET Core CLI is released (only preview releases now), we will be able to significantly make things easier to start. Hopefully you will want to try things again then.

[2016-11-18 14:16] AlexMcConnell commented on #38
I've actually managed to get it working via command line, though I have to change all the tests to Assert.AreEqual statements rather than Assert.That(Is.Equal) statements. Probably just need to import another library for that, but IDK.

[2016-11-20 15:15] kytrinyx opened #140 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-21 00:56] ckhrysze commented on #138
I think it would help, I thought this was how they all worked as I've otherwise done python, elixir, and elm.

I was just coming to report on this, and to volunteer to generally make this easier for linux users such as myself. I completed the hello world exercise using dotnet core, and added nunit to a project file I created such that 'dotnet test' ran the tests. I'd like to investigate having tha

[2016-11-21 18:45] ErikSchierboom commented on #138
@ckhrysze I am currently waiting on the .NET Core CLI to be finalized. Once that is released, I will be converting all exercises to run on .NET Core, including a project for each exercise that contains an empty implementation file. Thanks for the feedback!

[2016-11-22 18:50] #140 closed

[2016-11-25 22:05] robkeim commented on #138
@ErikSchierboom when you say that you're waiting for the .NET Core CLI to be "finalized" what do you mean? I thought 1.0 has already been released.

[2016-11-25 22:08] robkeim commented on #109
Not sure how to test a Windows installer either sorry :(

@kytrinyx if we're trying to keep the backlog of issues clean, can we go ahead and close this or would you like to wait until the parent issue is closed?

[2016-11-25 22:14] kytrinyx commented on #109
Yeah, let's close this. Thanks

[2016-11-25 22:14] #109 closed

[2016-11-26 08:50] ErikSchierboom commented on #138
@robkeim Well, the .NET Core CLI has been released, but they are still preview releases (not even beta releases thus). Alongside the CLI work is the MSBuild work, which will replace the current .NET Core project.json format. This work is also not done. Once both of these *are* done, we will be able to do some very cool stuff such as:

- Create very minimal project (.csproj) files for each exercise

[2016-11-26 11:05] robkeim commented on #138
Ok that makes sense, thanks for the explanation!

[2016-11-26 11:08] robkeim commented on #45
@NobbZ I updated the test readme with this information, so I'm going to go ahead and close this. Let me know if you feel something is missing/incomplete.

[2016-11-26 11:08] #45 closed

[2016-12-09 16:51] ErikSchierboom opened #144 "Fix AppVeyor build"
AppVeyor builds are failing with the following message:

<pre>
System.Exception: Start of process C:\Tools\NUnit3\bin\nunit3-console.exe failed. The system cannot find the file specified
   at Fake.ProcessHelper.ExecProcessWithLambdas@79-16.Invoke(String message) in
</pre>

Apparently, the tooling path has changed.

[2016-12-09 17:02] #144 closed

[2016-12-12 08:25] canweriotnow opened #146 "Create .NET Core/Visual Studio Code cross-platform setup instructions"
Inspired by #38, esp. comments by @NobbZ and @ErikSchierboom -

I'm running .NET Core and Visual Studio Code on Ubuntu and it's a dream. Way nicer for doing exercism exercises than the ceremony and overkill of Visual Studio, and it's easily installed on Windows, OS X, and Linux... https://www.microsoft.com/net/core#linuxubuntu has dead simple instructions and ends with a link to download VS Code..

[2016-12-12 08:29] canweriotnow commented on #37
I think #146 will help with this... using .NET Core and VS Code makes it easy to not only build and run C# projects from the `dotnet` CLI, but VS Code adds extensive build support for Make, Rake, Fake, and Cake.

[2016-12-12 08:29] ErikSchierboom commented on #146
I totally agree! And it is something we are planning on doing, it's just that the .NET Core stuff is still quite a bit in flux. At the moment, Microsoft is working hard to complete the work of reverting he project system to MSBuild (instead of `project.json`). When that is finished, we will be porting all the exercises over to work on .NET Core with all the added benefits.

For some more informati

[2016-12-12 08:29] ErikSchierboom commented on #37
It definitely will! See also #138

[2016-12-12 08:33] canweriotnow commented on #146
I'll keep an eye out for when the xcsharp maintainers feel it's mature enough, I'd be happy to help with the porting process. Thanks!

[2016-12-12 08:37] ErikSchierboom commented on #146
@canweriotnow Great! We'll post any updates here. By the way, if you're interested in tracking the work Microsoft is doing, you can check the [CLI](https://github.com/dotnet/cli) and [MSBuild](https://github.com/Microsoft/msbuild) repositories.

[2016-12-16 18:28] kytrinyx opened #147 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2016-12-19 09:44] ErikSchierboom commented on #147
I've created a short checklist of things to check:

- [ ] INSTALLATION.md - how to install the language and any dependencies
- [ ] TESTS.md - how to run the tests
- [ ] ABOUT.md - short, enticing introduction to the language
- [ ] LEARNING.md - where to get an introduction to the language if you're learning it for the first time
- [ ] RESOURCES.md - references, tools, etc.
- [ ] Put images in `doc

[2016-12-25 10:05] ErikSchierboom commented on #147
@kytrinyx Updating the TESTS.md and INSTALLATION.md is something I'd like to keep open for a while, as we expect to do a rather massive overhoal once F# runs on the updated .NET Core 2.0. That will be sometime in the first quarter of 2017 probably.

[2016-12-25 16:00] robkeim commented on #147
@ErikSchierboom I think you mean C# :)

[2016-12-25 18:55] ErikSchierboom commented on #147
Ehm, yes. That's what you get when you copy-paste text...

[2017-01-10 14:53] balazsbotond opened #160 "Use different output and input type parameters in Accumulate"
The current example for the Accumulate exercise has the following method signature:

[code]

This does not allow converting the type of sequence elements, like this:

[code]

Is this deliberate? If not, the method signature could be changed like this:

[code]

What do you think?

If this is not deliberately being kept simple because it is an exercise for beginners, I could send a PR with the new m

[2017-01-11 00:29] robkeim commented on #160
Good suggestion @balazsbotond! I'm not sure this was a deliberate choice for simplicity or just done because it was the easiest thing to do.

There is no suggested data for this exercise that all of the tracks are snapping to, but most of the other tracks seem to only the same type signature as what we have currently. However, the Scala track supports cross type and has a test that explicitly veri

[2017-01-11 02:12] IanWhitney opened #161 "Changes to Luhn tests"
We recently rewrote the test suite for the Luhn exercise. Since this track implements Luhn, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/master/exercises/luhn/canonical-data.json) and see if your track should update its implementation or tests.

Details on the test changes and the motivation can be found in [the PR](https://github.com/exercism/

[2017-01-11 06:26] robkeim commented on #161
Thanks @IanWhitney, I've gone ahead and sent a PR with this update.

[2017-01-11 07:34] balazsbotond commented on #160
Great, thank you! I'm going to do it then.

[2017-01-11 09:52] #160 closed

[2017-01-11 09:55] #161 closed

[2017-01-12 01:00] robkeim commented on #160
Looks good, thanks @balazsbotond!

[2017-01-12 10:20] ErikSchierboom opened #164 "Run build and tests on Mac OS"
To verify that the code also works on Mac OS, we should modify the Travis build to also run on Mac OS.

[2017-01-16 20:46] robkeim opened #171 "Implement remaining exercises for track"
@ErikSchierboom mentioned [here](https://github.com/exercism/xcsharp/pull/166#issuecomment-272947351) that we only have four exercises remaining in the C# track to be implemented:

- [x] [error-handling](https://github.com/exercism/x-common/tree/master/exercises/error-handling)
- [x] [forth](https://github.com/exercism/x-common/tree/master/exercises/forth)
- [x] [pov](https://github.com/exercism/x

[2017-01-16 20:56] robkeim commented on #171
@ErikSchierboom - I'll give error-handling a go

[2017-01-16 21:01] ErikSchierboom commented on #171
@robkeim Cool!

[2017-01-17 19:56] ErikSchierboom commented on #171
@robkeim I'm working on the `pov` exercise.

[2017-01-17 19:57] robkeim commented on #171
Sounds good @ErikSchierboom!

[2017-01-18 11:50] ErikSchierboom commented on #171
@robkeim I'll probabyl work on the `zipper` exercise tonight.

[2017-01-18 11:52] robkeim commented on #171
You're a machine @ErikSchierboom :)

[2017-01-18 11:53] ErikSchierboom commented on #171
We'll, I do have the advantage that I already solved it in F#. That means it's more porting than solving :)

[2017-01-18 12:04] robkeim commented on #171
Fair enough :)

[2017-01-18 18:05] masters3d commented on #164
The Travis Mac farm is very slow during peak hours for open source projects. Are you running circle CI too?

[2017-01-18 19:01] balazsbotond opened #176 "Incorrect HTML tags for bold text in the tests for Markdown"
I think the following test for the Markdown exercise expects the wrong tags:

[code]

The `<em>` tag is rendered as italic text by default, so I think the correct tag here would be:

- either `<b>` (to match the `<i>` tag in the test for italic)
- or `<strong>`, but then the `<i>` tag in the italic test case should also be changed to `<em>`.

I think the latter option is the better one because `em

[2017-01-18 19:13] ErikSchierboom commented on #164
@masters3d Yes, we are. And indeed Mac OS builds are slow, but they do run eventually.

[2017-01-18 19:13] #164 closed

[2017-01-18 19:16] ErikSchierboom commented on #176
@balazsbotond You are completely right! The [canonical data](https://github.com/exercism/x-common/blob/master/exercises/markdown/canonical-data.json) also have it rendered as a `<strong>` tag. A PR is much appreciated!

[2017-01-18 19:16] masters3d commented on #164
Did Katrina turn it on for you? or can we deploy that ourselves. I didn't see circle running on the PR in Github. Whats your set up?

[2017-01-18 19:23] robkeim commented on #164
@ErikSchierboom if we only validate Linux do you think there are a lot of bugs that would be on Mac OS only? Most of the changes are for the core C# code and shouldn't be platform specific.

[2017-01-18 19:42] ErikSchierboom commented on #164
@masters3d No I turned it on myself, to verify that our code also works on Mac OS
@robkeim I don't expect many Mac OS specific bugs, it's just to be safe

[2017-01-24 17:12] cmccandless opened #181 "Test Error in Exercise "Book Store""
The test "Basket_with_eight_books" tests for a sum value of "51.20", when the correct sum should be "51.60".

E.G: books=[1,1,2,2,3,3,4,5]
groups=[count(1,2,3,4,5),count(1,2,3)]=[5,3]
discount[5]=.75
discount[3]=.9
groups*8=[40,24]
groups*8*discount=[40*.75,24*.9]=[30,21.6]
total=30+21.6=**51.60**

This particular example also happens to be contained in the Readme for the exercise, but the arithme

[2017-01-24 17:37] robkeim commented on #181
@cmccandless are you talking about [this](https://github.com/exercism/x-common/blob/master/exercises/book-store/description.md) readme?

If so, the Readme calls out two different groupings for the eights books, and you need to choose the cheaper one. If you're getting 51.60 it's probably because you're using a greedy algorithm and the greedy algorithm doesn't always work in this problem :)

[2017-01-24 17:38] robkeim commented on #181
Copying the relevant part of the readme for your convenience:

[2017-01-24 22:19] robkeim commented on #171
Thanks @ErikSchierboom, the C# track now has every available exercise implemented 🎉

[2017-01-24 22:19] #171 closed

[2017-01-25 07:20] ErikSchierboom commented on #171
Hurray! Thanks for the great help @robkeim!

@kytrinyx We now have all exercises available in C# too! :tada:

[2017-01-25 14:15] cmccandless commented on #181
Ah, that's what I get for trying to code before coffee; I misunderstood that part of the readme. My mistake.

[2017-01-25 14:15] #181 closed

[2017-01-28 21:36] kytrinyx commented on #171
@robkeim @ErikSchierboom 🎉 Brilliant! 🎈

[2017-02-06 07:46] petertseng opened #189 "bank-account: Should GetBalance be a Balance property instead?"
When I was doing this exercise, I remarked that it seemed unidiomatic that `GetBalance()` was a method, rather than having a `Balance` property.

But y'all know C# better than I do, so y'all are in a better position to answer - must it be a method? Or can/should it be a property?

[2017-02-06 07:59] petertseng opened #190 "dominoes: ask for Chain rather than CanChain OR modify README to ask for CanChain"
There are two possible ways to interpret the dominoes problem, as [the canonical data](https://github.com/exercism/x-common/blob/master/exercises/dominoes/canonical-data.json) tells us.

1. Only ask for `CanChain`, a boolean telling us whether the given dominoes can be chained. The tests only need to check whether the boolean matches the expectation.
2. Ask for `Chain`, which will be (I assume for

[2017-02-06 08:05] petertseng opened #191 "pov: Consider making tests insensitive to child ordering"
I didn't actually do this exercise in C# so it's possible I misfired, but I think `IsEqual` does what I think it does.

In the [pov tests](https://github.com/exercism/xcsharp/blob/master/exercises/pov/PovTest.cs), given a tree that must be reparented on node x, the tests ensure that the former parent of x comes *after* the former children of x.

Example: The graphs:

[code]

However, you could ima

[2017-02-06 08:08] petertseng commented on #191
I just realized a difficulty with this. `CreateGraph` is **in control of the student**.

So that means, **perhaps it's the student's responsibility** to ensure that `CreateGraph` creates graphs insensitive to child ordering... as well as having the `FromPOV` function ensure that it puts children in the same order as `CreateGraph` would.

In general, this means that because the student is free to u

[2017-02-06 08:25] ErikSchierboom commented on #191
The reason we use `CreateGraph` is indeed to have the student choose his/her own implementation of the tree structure. We used to do exercises where the tree structure was already defined, but people did not really like being forced into using a specific structure.

So either we add more tests, pre-define the tree implementation or leave it as is. I don't really like the first option, but the seco

[2017-02-06 08:26] ErikSchierboom commented on #189
It should indeed be a property, good catch!

[2017-02-06 08:34] petertseng commented on #191
Here is another option that I didn't like when I was thinking about it for Haskell, but I have saved at https://github.com/exercism/xhaskell/pull/107

The idea is, expect that there are two common orderings that students will use:
1. former parent before former children
2. former parent after former children

This assumes the student will not use "former parent in the middle of former children", a

[2017-02-06 08:38] ErikSchierboom commented on #189
@petertseng A [PR](#192) has been opened.

[2017-02-06 08:39] ErikSchierboom commented on #190
@robkeim How do you feel about this?

[2017-02-06 09:01] petertseng commented on #190
summary of what I say in https://github.com/exercism/xfsharp/issues/296 is that I think doing `Chain`

advantages:

* student peace of mind that their code found a correct chain

disadvantage

* more complex test
* students are probably already finding a full chain anyway, so it's not like using `Chain` is going to "weed out" any more students.

[2017-02-06 09:35] robkeim commented on #189
I've just gone ahead and merged the PR. Thanks @petertseng for bringing this up.

[2017-02-06 09:35] #189 closed

[2017-02-06 10:22] balazsbotond commented on #191
I haven't yet solved this exercise, and I've just quickly skimmed the README. But I really liked that I could define my own data structures in previous ones. You can learn a lot more from implementing both the data structure and the algorithm.

As far as I can see, because the implementation is fully encapsulated, the student is free to override Equals to make node equality independent of child or

[2017-02-06 10:54] robkeim commented on #190
I added my $0.02 in: https://github.com/exercism/xfsharp/issues/296

[2017-02-06 11:42] robkeim commented on #191
I also haven't implemented this exercise yet, but here's my $0.02...

I think that either approach is valid but it's worth making it explicit whichever direction we decide to go. For this exercise, the focus isn't about keep the order of the children, so I would say moving to have an order independent comparison seems logical.

@petertseng said:

While I agree that's probably the case for this exe

[2017-02-06 12:07] ErikSchierboom commented on #190
Re-opened.

[2017-02-06 12:11] ErikSchierboom commented on #191
For now, I'm slightly in favor of just leaving the exercise as it is. Yes it is an inconvenience that the order matters, but the student is given more freedom on the data structure implementation.

[2017-02-06 13:58] balazsbotond commented on #191
@ErikSchierboom if I understand the tests correctly, they don't necessarily enforce a specific order - if you override `Equals`, you can make them pass even if the children are ordered differently in your data structure.

And if you use a `Set` in F# to represent the set of children, you get this `Equals` implementation for free. In C#, you need to implement `Equals` to use `HashSet.SetEquals` for

[2017-02-06 14:29] ErikSchierboom commented on #191
@petertseng I think I'll close this issue and leave the exercise as is. Would that be okay with you?

[2017-02-06 16:21] robkeim commented on #138
This was the post I was looking for (I added this comment to #183) before finding this one.

@ErikSchierboom It looks like the CLI tooling is no longer in preview... finally :)

https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes

[2017-02-06 17:49] petertseng commented on #191
Given the factors discussed:

* It's important to give the student freedom in implementation
* The student can override Equals to make the order not matter
* The proposed change would increase test complexity

It seems the best way is to leave the exercise as is.

The issue stated to "consider", and it's been considered, so from my point of view, the mission is accomplished! =D

[2017-02-06 17:49] #191 closed

[2017-02-07 19:14] ErikSchierboom commented on #138
@robkeim I'm busy porting the C# exercises to Xunit (on a branch of mine). I'll then work next on creating the new .csproj files.

[2017-02-07 19:40] ErikSchierboom opened #193 "Replace NUnit with Xunit"
Xunit has slowly but steadily been replacing NUnit as the favored testing framework. Virtually all open-source Microsoft code now uses Xunit as the unit-testing framework. The integration with .NET Core is thus also better, as Microsoft has invested in Xunit for its own software and thus has to keep it running. An example of this improved integration is the fact that there is an Xunit template ava

[2017-02-07 19:49] ErikSchierboom opened #194 "Replace [TestCase] tests with individual tests"
We have several places where we use `[TestCase]` to create a single test with multiple input values. While efficient (no code duplication), this is not the best of user experiences as it makes it harder to run a single test and also doesn't really allow us to mark the various input values with a descriptive text. It also doesn't align with how canonical data for exercises is defined, which only wo

[2017-02-07 20:31] ErikSchierboom commented on #193
You can check my progress [here](https://github.com/ErikSchierboom/xcsharp/tree/xunit). I've done the initial conversion, now I've got to check if all tests still run correctly and if something has been broken.

[2017-02-07 22:43] robkeim commented on #138
Sounds good @ErikSchierboom!

[2017-02-07 22:56] robkeim commented on #193
Progress is looking great so far @ErikSchierboom! I'd do a more thorough review once you send the final PR.

[2017-02-07 23:16] robkeim commented on #194
In terms of the argument that we're missing the richness of the canonical data I think we could work around that by adding additional comments alongside of the test cases.

However, from a usability standpoint, I'm all for making the tests easier to run if they're difficult to run today. In my setup I'm using Visual Studio which has the ability to run all of the cases for a single test or to run t

[2017-02-08 07:12] ErikSchierboom commented on #194
Great work gathering this data @robkeim!

[2017-02-08 13:39] balazsbotond commented on #194
I can start working on these. I will always leave a comment here before starting to convert the tests for an exercise - this way you'll know which ones are still up for grabs :)

[2017-02-08 13:42] robkeim commented on #194
Sounds great, thanks @balazsbotond.

[2017-02-08 13:54] ErikSchierboom commented on #194
@balazsbotond Would you mind waiting until I've merged #193? Otherwise we'll have lots of merge conflicts :)

[2017-02-08 14:01] balazsbotond commented on #194
@ErikSchierboom of course!

[2017-02-08 14:09] ErikSchierboom commented on #194
Great!

[2017-02-10 19:16] ErikSchierboom opened #195 "Create test data generators"
The canonical data of the various exercises regularly receives updates. Some of our exercises will be using outdated or incomplete data. We should try to fix this by writing test generators, support for which is added in #228.

[2017-02-13 14:44] ErikSchierboom opened #198 "Create project for each exercise"
To help users get started programming, we should provide the user with a skeleton .csproj file. This .csproj file should work with the .NET CLI and run on .NET Core.

[2017-02-13 14:53] ErikSchierboom opened #200 "Allow exercises to build and run on .NET Core"
In [this PR](https://github.com/exercism/xcsharp/pull/199), you can find the work to get our exercises running on .NET Core. This issue will keep track of the work items.

- [x] Convert tests from NUnit to xUnit (#193)
- [x] Create a project for each exercise (#198)
- [x] Fix the CI builds
- [x] Create default file for each exercise (#138)
- [ ] Update the documentation (#146)

Once these items ha

[2017-02-14 20:46] ErikSchierboom opened #202 "Create pre-built Docker container"
With .NET Core having great support for Docker, we could quite feasibly create a Docker container that has a working .NET Core installation as well as an installed exercism CLI. This could make starting out for those familiar with Docker a lot easier.

[2017-02-14 20:51] ErikSchierboom opened #203 "Integrate code analysis into build"
With Roslyn, there came the concept of code analyzers. These static analysis tools can help catch common errors, which is why I think they are a perfect fit for the exercism C# track.

See https://github.com/dotnet/roslyn/pull/18285/files for a reference to the code style package.

[2017-02-14 21:09] ErikSchierboom commented on #200
I'm slowly getting there :) I now have a separate project for each exercise that runs on .NET Core. The CI servers now also succesfully run the .NET Core tests.

[2017-02-15 18:36] ErikSchierboom commented on #138
I'm working on this in the .NET Core branch.

[2017-02-15 18:56] ErikSchierboom commented on #138
While working on this, a question arose. I am creating a minimal skeleton file for each exercise. That means the user can focus on the actual implementation, instead of the boring and repetitive creating of files. For simple exercises, I think this is a huge win. Consider the following default file for the `acronym` exercise:

[code]

Looks clean to me, and it will let the user focus on the implem

[2017-02-15 19:04] ErikSchierboom opened #204 "Move enumerations to outer scope"
Currently, all code is compiled in a single DLL. This caused some namespacing issues, which could be solves by moving enumeration declarations within a class. An example of this is the `go-counting` exercise:

[code]

With the #199 PR being worked on, each exercise will have its own solution. The namespacing workaround mentioned above is no longer necessary, so we can (and should) move the inner t

[2017-02-15 19:07] ErikSchierboom commented on #138
Note that for some exercises, it might make sense to do require the user to specify the constructors. An example of this is the `dot-dsl` exercise, for which I would create the following stub:

[code]

[2017-02-15 19:14] ErikSchierboom commented on #138
You can check my progress here: https://github.com/ErikSchierboom/xcsharp/tree/default-file

[2017-02-17 21:18] petertseng commented on #37
I will not mind sharing the exact script I used to test on Linux

[code]

will be good to see `dotnet test` improve on this.

[2017-02-17 21:20] ErikSchierboom commented on #37
This issue will be taken care of when #200 completes.

[2017-02-19 12:12] ErikSchierboom commented on #146
As a reminder, we will be updating the docs as part of #200. We should be adding docs for the following scenarios:

- Running from the command-line using the .NET CLI
- Running from Visual Studio
- Running from Visual Code
- Running from Visual Studio for Mac
- Running from Project Rider

It might seem a bit much, but I think this will be worthwhile.

[2017-02-19 13:27] ErikSchierboom commented on #200
Things are looking good! I've now managed to get the latest build working on .NET Core on all three CI servers. This build includes the following features:

- Project file per exercise
- Default (stub) file per exercise
- Project file is in the new .csproj format
- Project can be built using .NET Core
- Multi-platform support due to .NET Core compatibility
- Migrated tests from NUnit to xUnit

The

[2017-02-20 18:49] ErikSchierboom opened #205 "Update hello-world exercise"
The `hello-world` exercise has been simplified (see its [canonical-data](https://github.com/exercism/x-common/blob/master/exercises/hello-world/canonical-data.json) and the [discussion](https://github.com/exercism/x-common/issues/520)). We should update our implementation.

[2017-02-20 19:15] #205 closed

[2017-02-20 19:19] ErikSchierboom opened #207 "Use static classes where possible"
Some tests only require a static method to be present. If this is so, and if the implementation also only has static methods, we should convert the implementation to a static class.

[2017-02-21 05:20] bressain commented on #138
@ErikSchierboom I'm kind of in the "no stubs" camp. I think it's fine to include a stubbed out file for the first few exercises but after that, I feel there is value in the user creating files from scratch. Yes it's repetitive but repetition is how you learn the language and I wouldn't want to take that away from the user.

That said, I understand that decision may have already been made which is

[2017-02-21 07:23] ErikSchierboom commented on #138
@bressain Thanks for chipping in! We had the same sort of discussion on the F# track. We can leave this issue open, as we can easily remove stubs if more people agree with your sentiment :)

[2017-02-21 17:27] GalaDe commented on #198
Hi @ErikSchierboom, I would love to help you with these tickets. Could you please give me a more details what exactly should be done for this particular ticket. I think this ticket would be the easiest to start. What do you think?

Thank you in advance,
Galina.

[2017-02-21 20:42] ErikSchierboom commented on #195
- [ ] hello-world
- [ ] hamming
- [ ] gigasecond
- [ ] rna-transcription
- [ ] raindrops
- [ ] difference-of-squares
- [ ] pangram
- [ ] sieve
- [ ] roman-numerals
- [ ] robot-name
- [ ] nth-prime
- [ ] leap
- [ ] grains
- [ ] word-count
- [ ] bob
- [ ] run-length-encoding
- [ ] binary
- [ ] accumulate
- [ ] sum-of-multiples
- [ ] grade-school
- [ ] series
- [ ] phone-number
- [ ] prime-factors
-

[2017-02-21 20:55] ErikSchierboom opened #208 "Add link to xcsharp gitter room in docs"
I've just created a Gitter room for this repository at: https://gitter.im/exercism/xcsharp We should add this link to the documentation.

[2017-02-21 21:05] ErikSchierboom commented on #198
@GalaDe Well, this ticket is already included as part of [this PR](https://github.com/exercism/xcsharp/pull/199), but I could certainly use your help! Here are some of the things you could do:

- The simplest option is to work on the issue on using static classes for the implementation files (#207)
- I would love it if you would try and see if you can build the projects in my [PR](https://github.c

[2017-02-21 21:58] GalaDe commented on #198
Hi @ErikSchierboom, Thank you so much for your response.  Sorry for asking you stupid questions, but I'm new to open source projects:) and GitHub... How can I download your PR? Is the VS 2015 version would be ok? I will start looking at your PR and get things working on my machine first.  This will help me to at least understand how everything works.

Thank you in advance!

[2017-02-22 07:37] ErikSchierboom commented on #198
You're welcome, thanks a lot for being willing to help. I'll come back to you later today with instructions, alright?

[2017-02-22 15:54] GalaDe commented on #198
Great! Thank you so much @ErikSchierboom!

[2017-02-22 16:58] ErikSchierboom commented on #208
The link should be added to the Social Media section of the `docs/RESOURCES.md` file.

[2017-02-22 17:17] ErikSchierboom commented on #198
@GalaDe As you are new to open-source, I'll assume you are also new to how to do PR's :) If not, just ignore this :)

The first step to creating a PR will be to fork this repository, which means you'll have your own copy of everything in this repository. To do that, you can probably best follow [these instructions]. Once you have finished following the steps in that document, you'll have cloned yo

[2017-02-22 17:52] GalaDe commented on #198
Hi @ErikSchierboom, Yes, I'm new to public repositories:) Thank you for the explanation! By the way, I will be off-line until next Monday, will start work on this on Tuesday:)

[2017-02-22 18:02] ErikSchierboom commented on #198
@GalaDe No problem!

[2017-02-23 07:25] ErikSchierboom opened #209 "Add hints to some exercises"
@abo64 added [this issue](https://github.com/exercism/xscala/issues/220) to the Scala track, which I thought was a brilliant plan. I'm just gonna literally copy-and-paste that issue's text:

To give people some guidance and avoid writing repetitive or similar code comments again and again
we should add a HINTS.md file to any exercise where it makes sense.

Another case is exercises dealing with sp

[2017-02-23 07:25] ErikSchierboom commented on #209
RESERVED: will contain the list of exercises to add hints to

[2017-02-24 20:48] jmbradnan commented on #208
I am looking for a first patch - mind if I pick this one up?

[2017-02-24 20:55] ErikSchierboom commented on #208
Not at all. Be my guest!

[2017-02-24 21:09] jmbradnan commented on #208
great, since I haven't done this before I may have questions, best to use
the gitter room for those?    Is this
http://exercism.io/languages/csharp/contribute the best place to get
started if you are a first time contributor?

On Fri, Feb 24, 2017 at 12:55 PM, Erik Schierboom <notifications@github.com>
wrote:

[2017-02-24 21:24] ErikSchierboom commented on #208
Yes, the gitter room is best suited for questions. The contributions page on exercism.io gives you an idea on what you could be working on. For more concrete tasks, please check the issues section of this repository. Enjoy!

[2017-02-25 11:09] tushartyagi commented on #207
@ErikSchierboom I can start working on this one. But this will also require changing the test cases and you are working on moving tests to xunit in [#193](https://github.com/exercism/xcsharp/issues/193) so it might be dependent on that. :)

What are your thoughts?

[2017-02-25 12:26] ErikSchierboom opened #211 "Add link to xcsharp gitter room in README.md"
@tushartyagi had this great idea to also add the Gitter information to the README.md file:  https://github.com/exercism/xfsharp/pull/317/files We should also do this for the C# track.

[2017-02-25 12:34] ErikSchierboom commented on #207
@tushartyagi There is indeed that xUnit dependency. You can work on this feature though, only you have to base your PR on the [`dotnet-core`](https://github.com/exercism/xcsharp/tree/dotnet-core) branch (which has the same contents my [PR](https://github.com/exercism/xcsharp/pull/199) which contains the xUnit changes). So you can definitely work on this, as long as you base it on the `dotnet-core`

[2017-02-26 08:37] #211 closed

[2017-02-26 08:37] #208 closed

[2017-02-27 07:52] ErikSchierboom opened #212 "Use paket bootstrapper's magic mode"
We should use paket's bootstrapper magic mode for our build script, which allows us to only check in a small binary to the root of the project: https://fsprojects.github.io/Paket/bootstrapper.html#Magic-mode

[2017-02-27 13:56] #212 closed

[2017-02-27 13:57] ErikSchierboom opened #213 "Check if we still need to use paket with the .NET Core setup"
It might be that paket has become obsolete, as our build script is now fairly straightforward.

[2017-02-27 14:02] ErikSchierboom opened #214 "Replace FAKE with CAKE"
We currently use [FAKE](http://fsharp.github.io/FAKE/) as our build tool. We should consider switching to [Cake](https://github.com/cake-build/cake), which has two advantages over using FAKE:

1. Cake uses C# instead of F# to encode the build script
2. There is tooling in Visual Studio to debug Cake scripts

As such, I feel that Cake might better a better fit for the C# track than FAKE, especially

[2017-02-28 05:48] tushartyagi commented on #207
I have completed going through the exercises for classes which had:

1. only `static` methods but the classes were not `static`
2. tests were using `static` methods

<br />

Following is the list of exercises:
- [X] atbash-cipher
- [X] grains
- [X] triangle
- [X] word-count
- [X] wordy

[PR#215](https://github.com/exercism/xcsharp/pull/215) submitted for this.

[2017-02-28 07:19] ErikSchierboom commented on #207
@tushartyagi Brilliant! I've requested on small change in the PR. Thanks for looking into this!

[2017-02-28 07:50] ErikSchierboom opened #216 "Speed up build and testing by using solutions"
See: https://github.com/dotnet/cli/issues/5099

Note: this is related to PR #199.

[2017-02-28 20:43] ErikSchierboom commented on #146
I've updated the .NET Core PR with some initial docs on how to install or run the tests. If anyone would read and check them, that would be great! Here are the direct links to the files:

- [INSTALLATION.md](https://github.com/ErikSchierboom/xcsharp/blob/1bf058a32c04f0cc35253b406e69271c4b291c28/docs/INSTALLATION.md)
- [TESTS.md](https://github.com/ErikSchierboom/xcsharp/blob/1bf058a32c04f0cc35253b

[2017-03-01 19:20] #207 closed

[2017-03-02 08:52] tushartyagi commented on #214
@ErikSchierboom I am interested in working on this one. I have done some reading on Cake today. Combined with #213, this would remove the dependency from paket and only use Nuget for dependency management, right?

[2017-03-02 09:05] ErikSchierboom commented on #214
@tushartyagi That would be brilliant! This would indeed remove the need to use Paket, which could thus be removed. Let me know if you have any more questions!

By the way, did you know that Cake also has a [Visual Studio extension](https://github.com/cake-build/cake-vs)?

[2017-03-02 09:06] ErikSchierboom commented on #214
@tushartyagi Oh, and just to be clear, this work should once again be based on the PR #199, but you probably knew that already :)

[2017-03-02 09:14] tushartyagi commented on #214
@ErikSchierboom Thanks for the info. Your comment has changed my direction from [Cake.Paket](https://github.com/larzw/Cake.Paket) to Cake.VisualStudio :smiley:

[2017-03-02 09:26] ErikSchierboom commented on #214
You're welcome! :) Having it integrated right into your IDE makes for far easier development. By the way, there is also a Cake [Gitter room](https://gitter.im/cake-build/cake?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) if you have any questions.

[2017-03-03 05:48] tushartyagi commented on #214
@ErikSchierboom One question: I see that in the `build.fsx` file we are creating a `build` folder in the root, then copying it in the `exercises` folder etc. What advantage does this hold against letting each project get compiled in its local `bin` folder and running the tests against the assembly generated?

Also, what are those `defaultProjects` and `refactoringProjects` which are being treated

[2017-03-03 07:07] ErikSchierboom commented on #214
@tushartyagi I got an email stating that you put some questions in this issue, but I can't seem to find the comment. Does that mean you figured it out yourself?

[2017-03-03 07:19] tushartyagi commented on #214
@ErikSchierboom Yes. My question was why are we copying everything to the `build` folder. We could get away by building and testing everything in the `exercises` folder. Then I realised that we are replacing the stub in `Example.cs` and running all the tests, so making a copy of everything is needed so we don't botch up the exercises' files. :)

Anyhow, can you tell me why in `build.fsx` we have `

[2017-03-03 07:51] ErikSchierboom commented on #214
@tushartyagi Great question! Here is a short description what the build script does:

1. It tries to build the exercise's project *as is*, without any modifications. In this mode, the `Example.cs` file is not compiled, but the default stub file (`<exercise>.cs`) is. This verifies that the files the user will receive when he fetches the exercise (`<exercise>.cs`, `<exercise>Test.cs` and `<exercise>

[2017-03-03 08:55] ErikSchierboom commented on #214
@tushartyagi By the way, if you want to get *really* fancy and experimental, you could look at [Cake.Frosting](https://github.com/cake-build/frosting). That is a standalone Cake runner that runs under .NET Core. I think it would be ideal for us, as we could then completely lose the Mono dependency. However, it is still in alpha, so I don't know if it works. If you feel like it, feel free to look a

[2017-03-03 14:32] ErikSchierboom commented on #214
@tushartyagi Giving it a bit more thought, the `Cake.Frosting` bit is probably a bit too alpha. However, I've just learned of the `Cake.CoreCLR` NuGet package, which is a .NET Core compatible version of Cake. That will allow us to completely ditch Mono and further simplify the build.

I have also been referred to two projects using the `Cake.CoreCLR` package: [Cake.Kudu](https://github.com/wcomab/

[2017-03-03 16:03] tushartyagi commented on #214
Whoa! That's too much info. :P
Let me tell you the progress.

I have added the bootstrap packages (powershell and shell, which come free
from the Cake developers).

I've defined the tasks which clean,  change stub to example, build, and
test the code. These are working fine when I test them with the first few
projects. (Not wasting time for testing all 104). I still have to make
changes for refact

[2017-03-03 18:27] ErikSchierboom commented on #214
@tushartyagi That's great! I would suggest to just ignore my above comments for now and just get your version working (which also uses Mono). Once we get that working, we can move on.

As for the `Dotnetcore` commands, they are indeed cross-platform. It's just the bootstrapper that has a dependency on Mono, but as said, let's fix that later :) Enjoy your travels!

[2017-03-06 08:12] ErikSchierboom commented on #216
The solution file has been added, and we can get some huge speed-ups by restoring and building a solution instead of the individual projects. A small, not-so-scientific test reduced the restore time by two minutes! I expect similar gains when building the projects. Unfortunately, there is no solution-level test support yet, but it has been [logged as an issue](https://github.com/Microsoft/vstest/i

[2017-03-06 19:04] robkeim commented on #138
To @bressain's point, I think that we definitely need stubs for the first few exercises in order to reduce friction and on-boarding to the track.

Given the fact that we're providing the tests we're already being fairly prescriptive in terms of function composition, naming, etc so I don't feel the stubs should take out much of the "meat" of the exercises as opposed to just reducing a few lines of

[2017-03-06 19:09] robkeim commented on #146
@ErikSchierboom I just had a quick look through the documentation and it looks good! Thanks for all of your work on this.

[2017-03-06 20:47] ErikSchierboom commented on #146
@robkeim Thanks! Tomorrow is the Visual Studio 2017 and .NET CLI 1.0 launch. If everything runs fine on those release versions, I'll (finally) merge the .NET Core PR. Would be great to finally have it working. We can then work on further polishing the track. I've actually did some thinking a found lots of ways we can improve things even more. For all of these ideas, I've created a new issue.

[2017-03-06 21:00] ErikSchierboom commented on #138
I understand @bressain's point, but it kinda depends on who you think is your target audience. For people completely new to C#, it might make sense to have them create the files at some point. However, for people already having some C# that want to hone their C# skills, it doesn't really bring anything to their table I feel. Also, when you get to the later exercises, you must already have some C#

[2017-03-07 17:24] ErikSchierboom commented on #216
To simplify our build script, we could create separate solution files for the different build purposes. So one `Exercises.tests.sln`, one `Exercises.refactoring.sln` and `Exercises.build.sln`.

[2017-03-07 19:02] #34 closed

[2017-03-07 19:02] #37 closed

[2017-03-07 19:02] #138 closed

[2017-03-07 19:02] #147 closed

[2017-03-07 19:02] #193 closed

[2017-03-07 19:02] #198 closed

[2017-03-07 19:02] #200 closed

[2017-03-07 19:02] #204 closed

[2017-03-07 19:05] ErikSchierboom commented on #146
@canweriotnow With #199 merged, I think this issue can now be closed. To be clear, we've updated the track to be based on the .NET CLI, which is cross-platform and thus has the same interface on all platforms. You should thus now have things nicely working on .NET Core!

[2017-03-07 19:05] #146 closed

[2017-03-07 19:05] ErikSchierboom commented on #38
@NobbZ With #199 merged, I think this issue can now be closed. To be clear, we've updated the track to be based on the .NET CLI, which is cross-platform and thus has the same interface on all platforms. You should thus now have things nicely working on .NET Core!

[2017-03-07 19:06] #38 closed

[2017-03-07 19:07] ErikSchierboom commented on #198
With #199 merged, this issue can now be closed! 🎉

[2017-03-07 19:07] ErikSchierboom commented on #200
With #199 merged, this issue can now be closed! 🎉

[2017-03-07 19:08] ErikSchierboom commented on #214
@tushartyagi I've just merged #199, which contains the .NET Core PR! 🎉 How are things looking at on the Cake side?

[2017-03-07 19:08] ErikSchierboom commented on #193
With #199 merged, this issue can now be closed! 🎉

[2017-03-07 19:08] ErikSchierboom commented on #138
With #199 merged, this issue can now be closed! 🎉

[2017-03-07 19:29] ErikSchierboom commented on #213
This issue is on-hold pending the work in #214.

[2017-03-07 19:36] ErikSchierboom opened #218 "Use the .NET Core compatible build of Cake"
The work in #214 will replace our existing Fake script with Cake. However, the standard Cake executable requires the full .NET Framework, whereas this track runs on .NET Core. To make our build server integration (far) simpler, we should use the .NET Core compatible build of Cake named `Cake.CoreCLR` (which is available as a NuGet package).

This issue thus consists of two parts:

1. Replace the f

[2017-03-07 19:40] ErikSchierboom commented on #194
@balazsbotond I've just merged #199, which means that this issue is now free to being worked on (if you're still interested).

[2017-03-08 03:27] tushartyagi commented on #214
@ErikSchierboom I was travelling and then stuck with work. Will start on this today and hopefully complete it in a day or two. :)
Congrats on pushing the .NET Core PR. It was a big one!!

[2017-03-08 07:37] ErikSchierboom commented on #214
@tushartyagi No worries, there is no haste :) Great to hear you'll be continuing your work!

[2017-03-08 07:41] ErikSchierboom commented on #202
A small checklist of things the Docker container should contain:

- The latest version of the .NET Core CLI (which we get automatically when we base ourselves on [this official .NET Core image](https://github.com/dotnet/dotnet-docker/blob/master/1.0/debian/runtime/Dockerfile))
- The latest version of the Exercism CLI
- An introduction message you get at startup telling you how to proceed (configur

[2017-03-08 15:39] tushartyagi commented on #214
@ErikSchierboom Please check #219 for this issue.

[2017-03-08 15:51] ErikSchierboom commented on #214
@tushartyagi I will check it tonight, thanks!

[2017-03-10 07:09] ErikSchierboom commented on #218
Regarding the build server configurations, both [Travis](https://github.com/travis-ci/travis-ci/issues/7301#issuecomment-285468075) and [AppVeyor](https://github.com/appveyor/ci/issues/1179#issuecomment-285534695) have now updated their images to include the latest .NET CLI.

[2017-03-10 16:56] ErikSchierboom opened #224 "Create test generators framework"
Most exercises have a set of canonical data associated with them. This data can change from time to time, so the burden is on us to keep track of it. Wouldn't it be great if we could write a generator to generate the tests automatically based on the canonical data (which is described as JSON document)?

There is also an [ongoing effort](https://github.com/exercism/x-common/issues/625) to update th

[2017-03-10 19:17] GalaDe commented on #209
Hi @ErikSchierboom, I would like to work on this ticket. As I understood correctly, we just need to create for each of the above exercises HINTS. md files, right?

[2017-03-10 20:37] ErikSchierboom commented on #209
Correct! You can check some of the existing Hints.md files to see how they are structured. It is probably best to send one PR per Hints.md file. If you have any questions, just ask.

[2017-03-10 21:28] GalaDe commented on #209
@ErikSchierboom Sounds Good!

[2017-03-11 11:28] robkeim commented on #209
Thanks for pulling this together @ErikSchierboom!

[2017-03-11 11:29] robkeim commented on #224
That would definitely be great @ErikSchierboom, do you have an idea on how you're going to tackle this?

[2017-03-11 20:30] ErikSchierboom commented on #224
I do. There will be a generic parser to parse the canonical data JSON files. Then there will be a generic test file generator, which can setup the structure and such to render the tests. Finally, each exercise will have its own test generator class deriving from the base one. At least, that's how I plan to structure it. The generators themselves will just be part of one .NET Core Console Applicati

[2017-03-12 04:06] GalaDe commented on #209
Hi @ErikSchierboom, is it something what you are looking for:

https://github.com/GalaDe/gklikh-hmwk2/blob/master/Hints.md

[2017-03-12 08:50] ErikSchierboom commented on #209
@GalaDe Yeah, that's what I mean! I have two small nits.

1. Perhaps rephrase "This exercise requires you to perform operation with collection of data." a little bit, e.g. to "This exercise requires you to process a collection of data."
1. A space is missing between "LINQ" and "(Language Integrated Query)"

Other than that, this is great! You could add this hint to both the `difference-of-squares`

[2017-03-12 09:16] robkeim commented on #224
That sounds like a good approach @ErikSchierboom! The reason that I haven't jumped on #195 is because there's currently no way to get updates when things fall out of date again. If you do this work then it should be trivial to update all of the cases whenever any of them change :)

[2017-03-12 09:16] ErikSchierboom commented on #224
@robkeim Precisely!

[2017-03-12 17:38] tushartyagi commented on #216
PR #225 is using solution based builds.

[2017-03-13 01:26] GalaDe commented on #209
@ErikSchierboom, you want me to use this link instead the link which was used in my example:

https://msdn.microsoft.com/en-us//library/bb383977.aspx

[2017-03-13 06:51] ErikSchierboom commented on #209
@GalaDe Just for `accumulate` please.

[2017-03-13 14:29] ErikSchierboom commented on #216
This has been fixed in #226.

[2017-03-13 14:29] #216 closed

[2017-03-13 14:29] ErikSchierboom commented on #214
This has been fixed in #226.

[2017-03-13 14:29] #214 closed

[2017-03-13 15:19] #213 closed

[2017-03-13 16:04] ErikSchierboom commented on #224
@robkeim I've just submitted PR #228, which adds the basic infrastructure for the test generators. In PR #229 (which is on hold until #228 is merged), you can see what an actual test generator would look like. If you think it looks okay, feel free to merge both PR's :)

[2017-03-13 17:43] ErikSchierboom commented on #218
Hmmm, we'll have to update our build script a bit: https://github.com/Redth/Cake.FileHelpers/issues/10

[2017-03-13 19:46] #218 closed

[2017-03-13 19:52] ErikSchierboom commented on #195
If someone is interested in writing a test generator, please state so here, so that I can mark that exercise as being worked on.

[2017-03-13 20:53] GalaDe commented on #209
@ErikSchierboom Ok, most of them will be done today. I will upload them to the right repository this time:)

[2017-03-13 21:19] jmbradnan commented on #209
@GalaDe I was also thinking of picking some of these up - which ones are candidates for me to work on (if any?)  Not sure if you have done all of them or just a subset.

[2017-03-13 21:55] GalaDe commented on #209
@ErikSchierboom, all of them are completed:

 accumulate (extension method docs)
 allergies (bitwise operations)
 alphametics (hint to non brute-force algorithm (see example); link to Sprache text parsing library
 bank-account (link to how to deal with concurrency)
 beer-song (hint to not encoding the structure (see example)
 clock (link to IEquatable docs)
 custom-set (link to IEquatable docs)
 d

[2017-03-14 05:10] GalaDe commented on #209
@ErikSchierboom pull request created. By the way, why I can't mark checkboxes with the complete exercises in your post?

[2017-03-14 07:58] ErikSchierboom opened #232 "Cleanup .travis.yml"
The `.travis.yml` file has been cleaned-up immensely due to the recent .NET Core changes. However, there are still a couple of lines that can probably be removed. More specifically, these lines can be removed:

[code]

[2017-03-14 10:04] ErikSchierboom commented on #209
@GalaDe You can't check the checkboxes as you are not a maintainer of this repository, hence you don't have the rights.

[2017-03-14 15:24] GalaDe commented on #209
Here is the list which has to be done:

list-ops (link to Func docs)
 nth-prime (link to lazy sequences (see example)
 nucleotide-count (link to IDictionary<TKey, TValue> documentation)
 palindrome-products (link to tuple documentation)
 proverb (hint to non encoding the structure (see example)
 saddle-points (link to tuple documentation)
word-search (link to tuple documentation)
 zebra-puzzle (li

[2017-03-14 15:45] ErikSchierboom commented on #209
@GalaDe I've updated the list and added "(in progress)" for the HINTS you have submitted in your PR. Once that PR is merged, I'll check them in the list. Thanks for the great work!

[2017-03-14 18:16] jmbradnan commented on #209
yes I will take a look at these.

[2017-03-14 19:08] #224 closed

[2017-03-14 19:48] ErikSchierboom commented on #195
And the first test generator has been merged (in #229)! 🎉

[2017-03-15 07:14] ErikSchierboom commented on #232
Closed due to #233 being merged. Thanks @jmbradnan!

[2017-03-15 07:14] #232 closed

[2017-03-15 23:20] jmbradnan commented on #209
I am using other examples to hopefully get the formatting right, if there is a guideline for how to mark up the text for proper rendering let me know.

[2017-03-16 04:31] jmbradnan commented on #209
It looks like the hint for the proverb exercise is for the beer-song exercise.   I checked the HINTS file in the xfsharp/exercizes and it also contains the beer-song hint, is this an error?    Doesn't seem like it is the right hint for that exercise

[2017-03-16 07:25] ErikSchierboom commented on #209
@jmbradnan No that is not an error, the hints are actually the same, as the exercises are very similar.

[2017-03-16 20:22] ErikSchierboom opened #244 "Update CircleCI config to 2.0 (beta)"
For more information, see: https://circleci.com/docs/2.0/migrating-from-1-2/?utm_source=Autopilot&utm_medium=email&utm_campaign=2dot0productionreadyemail&utm_term=migration-link

As CircleCI 2.0 runs Docker images, we can use the [official .NET Core Docker image](https://store.docker.com/images/6c038a68-be47-4d7e-bfd2-33a6fe75b9ac?tab=description).

[2017-03-19 14:12] #244 closed

[2017-03-19 15:02] ErikSchierboom opened #249 "Allow for easy switching between example and default implementation build"
Currently, to verify that the example implementation is correct, you have to modify the project's .csproj file to not ignore "Example.cs" and ignore "<exercise>.cs". This is not ideal, as it makes local testing of exercises harder and makes the build script more complicated than it should be.

To improve this situation, we should modify the .csproj files to also take into account an additional MSB

[2017-03-20 07:50] ErikSchierboom commented on #249
This is less useful than I thought, as the tests will still be skipped.

[2017-03-20 07:50] #249 closed

[2017-03-20 07:53] ErikSchierboom opened #251 "Use FsCheck for property-based tests in diamond exercise"
In the `diamond` exercise, the tests are defined as property-based tests. At the moment, we just use member data, but this is a great moment to introduce [FsCheck](https://github.com/fscheck/FsCheck).

Besides replacing the tests with FsCheck-based property tests, we should also add information to the `HINTS.md` file about FsCheck.

[2017-03-20 08:07] ErikSchierboom opened #252 "Use .gitattributes file to normalize line endings"
We should use a .gitattributes file to normalize our line endings, to make it easier to work with this repository on different platforms.

[2017-03-20 15:47] #252 closed

[2017-03-24 07:04] morrme commented on #194
@ErikSchierboom I am interested in helping with this, if you or anyone is up for a little mentoring along the way.

[2017-03-24 07:17] ErikSchierboom opened #264 "Add documentation on how to add or update a test data generator"

[2017-03-24 07:21] ErikSchierboom commented on #194
@morrme Great! We love to receive contributions. As for the mentoring, we'd be happy to.

Let's help you get started. First thing to note is that we are in the process of adding test data generators (#195), which is basically code to automatically generate an exercise's test file. This generation of the code is based on the exercise's canonical data, which can be found in the [x-common repository]

[2017-03-28 19:38] ErikSchierboom commented on #195
@robkeim Earlier, you stated that you were interested in creating a test data generator. Are you still interested? If so, I'd love to have you try out the current generators framework and see where you feel I can improve things.

[2017-03-29 19:40] rwobben opened #271 "[Challenge GradeBook] two functions to the same"
Hello

I noticed that the grade and Roster have the same type definition and so do the same.
If I put the code of Roster into Grade all tests will be green.

Regards,

Roelof

[2017-03-30 02:43] robkeim commented on #195
Hey @ErikSchierboom I'd love to help out, but I've been super busy with relocating to a new country, and now I'm trying to get settled into my job and establish myself here. You should keep making progress without me, as I think I'll need a couple of months before things settle down.

[2017-03-30 06:04] ErikSchierboom commented on #271
Good catch! We'll be fixing this.

[2017-03-30 06:05] ErikSchierboom commented on #195
@robkeim Ah, good luck then with your relocating! Hope to have you back soon.

[2017-03-30 06:09] rwobben commented on #271
Thanks, if I can help , ask

[2017-03-30 06:15] ErikSchierboom commented on #271
@rwobben Well, a PR would be appreciated! What I would like to see is two things:

1. Move the instance field (`private readonly School school = new School();`) to be a variable in each test (makes it easier to read).
1. The `Roster` function should not take any arguments, and should return the names of all student, sorted alphabetically. That means that the final test ("Student_names_in_each_grad

[2017-03-30 06:27] rwobben commented on #271
Oke, First one is easy.
The second can take a little more time. IM just a beginner/profient in c#.

What do you mean with the default and example implementation ?

[2017-03-30 06:39] ErikSchierboom commented on #271
@rwobben If you look in the `exercises/grade-school` directory, you'll find the following two files:

1. `Example.cs`: this file contains a working implementation that passes all tests.
1. `GradeSchool.cs`: this file contains a default implementation, with only the minimum of methods to help the user get started. It should not contain any implementation.

Would you mind creating to separate PR's?

[2017-03-30 07:18] rwobben commented on #271
No problem.  So also make multiple issues.
The only things is that I use LINQ a lot to solve the exercises. So my solutions looks very different from yours.  I do not have the class SortedList in my code because it's not needed for solving it

[2017-03-30 07:28] rwobben commented on #271
One question.

Is it allright with you I change the test to different parts
So a arrange where all things are set up
A act part where the actual calling is done
A Assert part where the actual checking take place

I think the test are then easier to read

[2017-03-30 08:07] ErikSchierboom commented on #271
@rwobben  Usually, I think the AAA pattern is fine, but we don't really use it a lot here. Also, there is no value returned by `Add`, so I would suggest the following:

[code]

[2017-03-30 08:18] rwobben commented on #271
Oke, then the first test is rewritten

[2017-03-30 08:20] ErikSchierboom commented on #271
@rwobben Okay, looking forward to the PR.

[2017-03-30 09:08] ErikSchierboom commented on #271
@rwobben I've requested some changes to the PR. You should have received a notification.

[2017-03-31 10:49] ErikSchierboom commented on #271
Closed by #273.

[2017-03-31 10:49] #271 closed

[2017-04-01 06:57] GalaDe commented on #209
Hi @ErikSchierboom! I'm back:) Do you still need help with this ticket?

[2017-04-01 09:04] ErikSchierboom commented on #209
I'd love some help 😀

[2017-04-01 14:32] jmbradnan commented on #209
Hey folks, getting back online after spring break, I think the ones that still remain are:

list-ops (link to Func docs)
nucleotide-count (link to IDictionary<TKey, TValue> documentation)
palindrome-products (link to tuple documentation)
saddle-points (link to tuple documentation)
zebra-puzzle (link to how to use lazy sequences, to improve performance)
zipper (link to how to deal with custom equal

[2017-04-01 15:50] ErikSchierboom commented on #209
@jmbradnan sounds good. Perhaps you and @GalaDe can divide them amongst yourselves?

[2017-04-01 20:09] jmbradnan commented on #209
sounds good to me @ErikSchierboom     @GalaDe I am going to look at list-ops problem next.

[2017-04-02 00:46] jmbradnan commented on #209
scratch that, it looks like list-ops already has a HINTS.md file.   All of the others I list above do need HINTS, so I will look at next one in list ->nucleotide-count

[2017-04-02 00:49] jmbradnan commented on #209
btw, @ErikSchierboom there is a small typo in the HINTS for list-ops, I am going to just fix this and submit

[2017-04-04 15:59] kytrinyx opened #277 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-04 16:48] GalaDe commented on #209
Hi @jmbradnan, I will work on these three today:

 word-search (link to tuple documentation)
 zebra-puzzle (link to how to use lazy sequences, to improve performance)
 zipper (link to how to deal with custom equality)

[2017-04-04 16:52] GalaDe commented on #209
Hi @ErikSchierboom, could you please mark nucleotide-count exercise and word-search as completed.

[2017-04-04 17:07] ErikSchierboom commented on #209
@GalaDe Sure, forgot about that. I've just updated the list.

[2017-04-04 17:27] GalaDe commented on #209
@ErikSchierboom, Thank you!

[2017-04-04 17:30] jmbradnan commented on #209
ok @GalaDe, I think that means these remain:
palindrome-products (link to tuple documentation)
saddle-points (link to tuple documentation)
will take a look later today.

[2017-04-05 18:01] kytrinyx commented on #277
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-06 16:26] GalaDe commented on #209
@jmbradnan If you haven't started working on the house and saddle-points hints I can take them.

[2017-04-06 16:56] jmbradnan commented on #209
@GalaDe yes please do - school just starting for me so busy for next few days.

[2017-04-06 20:17] GalaDe commented on #209
@jmbradnan Sounds good! Good luck with school!

[2017-04-07 17:08] GalaDe commented on #209
@ErikSchierboom, I guess we can close this ticket:)

[2017-04-08 07:01] ErikSchierboom commented on #209
With huge thanks to @jmbradnan and @GalaDe, this issue can now be closed! Thanks a lot!

[2017-04-08 07:01] #209 closed

[2017-04-08 07:01] #277 closed

[2017-04-08 13:30] GalaDe commented on #209
Ehyyyyy!!!!!

[2017-04-12 15:09] GalaDe commented on #194
Hi @ErikSchierboom,

[2017-04-12 16:17] ErikSchierboom commented on #194
Yeah sure!

[2017-04-12 16:25] GalaDe commented on #194
atbash-cipher,  isogram,  nth-prime, perfect-numbers, pig-latin are the one which still needs to be done, right?

[2017-04-12 16:59] ErikSchierboom commented on #194
@GalaDe eh, not really. If you look at the list in the second comment, you'll find the remaining exercise listed. Those you mentiond have all been checked.

[2017-04-12 17:04] GalaDe commented on #194
Ops:) @ErikSchierboom ok:)

[2017-04-13 06:08] ErikSchierboom commented on #194
@GalaDe By the way, have you read [this comment](https://github.com/exercism/xcsharp/issues/194#issuecomment-288951057)? In it, I explain that from now on, we want to use test data generators to generate the test files automatically. There are already several test data generators available. Links to most of the PR's can be found on this page.

[2017-04-13 19:43] GalaDe commented on #194
@ErikSchierboom, yes, I did. Thank you!

[2017-05-15 15:44] MahrWe opened #289 "GradeSchoolTest not according to README"
The Test: "Student_names_with_grades_are_displayed_in_the_same_sorted_roster" is not according to Readme-file.
See README.md lines 13ff: - Get a sorted list of all students in all grades.  Grades should sort as 1, 2, 3, etc., and students within a grade should be sorted alphabetically by name.
"students WITHIN a grade should be sorted alphabetically"

Proposed new Test:
[code]

[2017-05-15 17:03] ErikSchierboom commented on #289
@MahrWe Ah, good catch! Perhaps what we actually should be returning is a dictionary, if I look at other tracks. Would you be interested in doing a PR for this?

[2017-05-15 17:04] robkeim commented on #289
I was going just about to respond @ErikSchierboom but you're too fast :) @MahrWe feel free to submit a PR and we can approve it.

[2017-05-15 18:02] MahrWe commented on #289
Actually I am not sure how to do that, Pull the Repo, make changes and then.. Push to a new Branch, maybe?

[2017-05-15 18:09] MahrWe commented on #289
@ErikSchierboom, @robkeim sorry I am new to github

[2017-05-15 18:18] ErikSchierboom commented on #289
There are some good tutorials out there:

- https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github
- https://yangsu.github.io/pull-request-tutorial/

[2017-05-15 19:45] #289 closed

[2017-05-28 11:05] robkeim opened #292 "Implement Rotational Cipher exercise"
The new exercise description and test cases can be found here:
https://github.com/exercism/x-common/tree/master/exercises/rotational-cipher

[2017-05-29 20:55] ErikSchierboom commented on #292
We should create a test generator for it. See #194

[2017-06-07 14:06] IngussA opened #294 "exercise testing problem."
So i've been working on the bob exercise in C# and everything was going fine untill I took a break and had a go at it again later, I ended up getting an error in the picture below. Now I am still getting the error on a fresh version of the exercise so it isn't affected by any actual code in the Bob.cs or BobTest.cs files and I did replace all of the other ones with a fresh batch, still no dice.
![

[2017-06-07 18:00] ErikSchierboom commented on #294
@IngussA Could you check which files are in the folder where the project and Bob.cs are? And how are you compiling? Using the CLI, Visual Studio, VS Code or Rider?

[2017-06-08 07:33] IngussA commented on #294
@ErikSchierboom Thank you for your help, after you mentioned what files are in the folder I decided to move the version folder outside of the bob folder and it seemed to have fixed the issue.

[2017-06-08 07:40] ErikSchierboom commented on #294
@IngussA Good to hear! Enjoy the track.

[2017-06-08 07:40] #294 closed

[2017-06-09 12:28] #292 closed

[2017-06-10 09:46] ErikSchierboom opened #297 "Include canonical data version number in generated test files"
The tests generator should include the canonical data version number in the generated test files.

[2017-06-11 20:59] robkeim commented on #297
Good idea @ErikSchierboom, and I think a next step could be to have the test generator pull the canonical data from the server check if there are any differences and update the differences all in a single command line. That would reduce the maintenance burden of keeping up with the canonical data which seems to have a fairly high level of churn.

[2017-06-11 22:03] robkeim commented on #195
Created a PR for Bob:
https://github.com/exercism/xcsharp/pull/300

[2017-06-11 22:20] robkeim commented on #297
I'm catching up on things now and realized that you're already many steps ahead of me on the auto-generating all cases :)

[2017-06-12 07:02] ErikSchierboom commented on #195
Great to have you back!

[2017-06-12 07:02] #297 closed

[2017-06-13 14:20] robkeim commented on #194
@ErikSchierboom I'm closing this because I feel that it no longer makes sense given that we're moving to test generators (assuming the test generators are creating individual tests and not test cases).

Please feel free to re-open the issue if you disagree.

[2017-06-13 14:20] #194 closed

[2017-06-13 14:22] robkeim commented on #195
@ErikSchierboom I assume this work is on pause given the refactoring that you're doing in https://github.com/exercism/xcsharp/pull/302. I just want to make sure that others are aware of that so they don't try to pick up something here which conflicts with your work.

[2017-06-13 14:48] robkeim opened #303 "Reduce local build and test time"
Now that we have separate csproj's per problem our test and build time has grown quite a bit:
[code]

The `TestUsingExampleImplementation` is taking the bulk of the time although all of the sub-tasks that it is doing are parallelizable. Running them in parallel could significantly reduce the build time.

[2017-06-13 14:53] robkeim commented on #303
Maybe I'm missing something here as in https://github.com/exercism/xcsharp/issues/216 it states the builds are now run in parallel. Is there something I need to configure to enable the parallelization?

[2017-06-13 16:43] ErikSchierboom commented on #194
Agreed!

[2017-06-13 16:44] ErikSchierboom commented on #195
Correct!

[2017-06-13 16:46] robkeim commented on #203
@ErikSchierboom have you tried using that analyzer yet? My understanding is that library allows you to write your own anlyzers, but if you want to use some existing ones you have to use something like [StyleCop.Analyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers).

I tried integrating StyleCop.Analyzers but couldn't figure out how to customize the list of rules and there are likely som

[2017-06-13 16:47] ErikSchierboom commented on #303
Well, they don't actually run in parallel I think. We could do that rather easily I think by modifying the build script. The problem is that you cannot run the dotnet test command on a solution file. That is possible for restoring and building, but not for testing unfortunately.

[2017-06-13 16:48] ErikSchierboom commented on #203
I haven't yet. These analyzers are still being worked on I think. The StyleCop analyzers might indeed be too strict.

[2017-06-22 18:44] Smarticles101 opened #305 "Transpose exercise has a wrong test case."
The last exercise under the transpose exercise has a wrong test case.

The problem is [here](https://github.com/exercism/csharp/blob/master/exercises/transpose/TransposeTest.cs#L257). The last two spaces in the string on that line should not be there.

The example solution needs to be reworked a little bit as well in order to solve the fixed test case.
I would go ahead and make a pr to fix both, b

[2017-06-22 21:58] robkeim commented on #305
Thanks @Smarticles101 for reporting this!

@ErikSchierboom has been doing a lot of work to get all of the test cases generated programatically so that should be pretty easy to change it's just the example solution that will need to be tweaked.

[2017-06-27 13:29] #305 closed

[2017-06-27 13:30] ErikSchierboom commented on #305
@Smarticles101 I've just merged #306 which fixes this!

[2017-08-09 15:41] jpreese commented on #251
Just as a heads up, I'll take this one.

[2017-08-09 20:45] ErikSchierboom commented on #251
Thanks!

[2017-08-10 18:00] jpreese commented on #251
#332 merged -- issue can be closed.

[2017-08-10 21:02] #251 closed

[2017-08-13 04:22] jpreese commented on #195
There looks like there's a lot to be done in this department and it seems like PR #302 was merged. Is it safe to assume these can be worked on again?

I dug into the generators solution a decent bit tonight and believe I have a firm understanding of how it all works.

[2017-08-13 05:43] robkeim commented on #195
Hey @jpreese, now that these PRs have merged we could definitely use all the help we can get! Just let us know which ones you're planning on working on and thanks in advance for your contributions!

[2017-08-13 08:41] ErikSchierboom commented on #195
@jpreese Well there is indeed lots of work to be done here! I'm not completely happy with the way I currently set things up, which is why I'm doing another large refactoring to make things far easier: https://github.com/ErikSchierboom/csharp/tree/refactoring Currently, more complex exercises that require non-standard work to be done are quite complex. In the new version, it should be much easier t

[2017-08-13 17:11] jpreese commented on #195
I'll probably just wait it out then. No sense in potentially going through a rewrite of the generator if the new-hotness is coming out so soon.

[2017-08-14 05:32] jpreese opened #338 "Multiple CI servers?"
Really just trying to familiarize myself with the project, how things work, potential areas for improvement, etc and had a question about our CI servers.

I noticed on our repository homepage, none of the links to the CI servers point to the correct location, but on top of that, why do we have four? Looking back at a previous PR, its checking AppVeyor twice, Travis, and Circle CI -- all of which e

[2017-08-14 05:58] ErikSchierboom commented on #338
The reason that there is more than one build server is that I wanted to test that things work on multiple platforms. With AppVeyor, we can verify that everything works on Windows and with CircleCI and Travis we can test for Unix/MacOS.

However, I might have gone a little overboard with these build servers, as it is highly unlikely that there are cross-platform issues with our code. So maybe we sh

[2017-08-14 13:48] jpreese commented on #338
Ah ok, that makes sense. I'm not necessarily partial to any one in particular, as stated above maybe Travis for conformity. Though I would vote to drop it down to a singular CI for simplicity. I agree that our code shouldn't have any cross platform issues, especially being on .NET Core.

[2017-08-14 16:13] robkeim commented on #338
@ErikSchierboom @jpreese

I remember wondering about this before and I thought I had asked but can't find the trace of the conversation here in GitHub.

I agree that given the scope of what we're doing the chance of cross-compatibility issues is small, and I'm always for simplicity so I'd give a thumbs up to only having Travis.

[2017-08-14 19:14] ErikSchierboom opened #340 "Remove CircleCI and AppVeyor integration"
See #338

[2017-08-14 19:14] ErikSchierboom commented on #338
Okay. I've created an new [issue](#340).

[2017-08-15 13:04] robkeim commented on #338
Thanks @ErikSchierboom.

@jpreese I'm going to go ahead and close this issue now that we have #340.

[2017-08-15 13:04] #338 closed

[2017-08-16 00:05] jpreese commented on #340
I can handle the CircleCI/AppVeyor config removals, but we'll need some super powers to disable the builds / web hooks.

[2017-08-16 02:43] kytrinyx commented on #340
On it!

[2017-08-16 02:44] kytrinyx commented on #340
The AppVeyor build is gone.

[2017-08-16 02:46] kytrinyx commented on #340
The CircleCI build is gone.

[2017-08-16 06:29] #340 closed

[2017-08-16 06:30] ErikSchierboom commented on #340
Thanks @kytrinyx !

[2017-08-17 15:49] robkeim opened #342 "Implement Complex Numbers exercise"
Description can be found here:
https://github.com/exercism/problem-specifications/blob/master/exercises/complex-numbers/description.md

[2017-08-17 15:49] robkeim commented on #342
I'd like to take this exercise but I think it's going to be a tricky one to get the test cases to generate automatically... it will put the new test case generator to the test :)

[2017-08-17 15:53] robkeim commented on #195
@jpreese we should be unblocked to start making progress on these again now that @ErikSchierboom's PR is merged

[2017-08-17 15:56] jpreese commented on #342
@robkeim all yours! I keep getting side tracked with other exercism issues

[2017-08-17 18:46] ErikSchierboom commented on #342
This will indeed be tricky. I'm really interested in your findings.

[2017-08-18 02:42] jpreese commented on #202
Before I start going down the route I want to take, just wanted to get some feedback if it makes sense.

I think it makes sense to actually base this off of an image that already has the Exercism CLI. However, there isn't an image for the Exercism CLI, which is easy enough to make. Once that is made, I think every track can be based off of that image, since every track is going to need CLI, wherea

[2017-08-18 06:41] ErikSchierboom opened #345 "Improve working with types in generator canonical data"
Currently, the canonical data gets parsed and converted by JSON.net. However, at several points the JSON.net types still "leak". Ideally, canonical data should not have any JSON.net types at all.

One problematic issue is when converting arrays. What to do with empty arrays? We should be converting it to an empty array of the correct type, but to do so will require us to analyze the array property

[2017-08-18 15:11] jpreese opened #347 "Generator does not read latest canonical data"
I recently opened a PR over in the problem-specifications repo to fix the TwoFer exercise property name (https://github.com/exercism/problem-specifications/pull/881). I was then going to use the generator to update its tests, but I couldn't get it to grab the latest canonical data.

For the generator, it looks like we're doing a Fetch(), but not actually pulling the data down into the local .probl

[2017-08-18 15:41] robkeim commented on #342
I'm going to try to get some other generators done before tackling this one so I get a better understanding of how they work.

[2017-08-18 18:19] robkeim opened #355 "My GitHub email notifications are working again :)"
@ErikSchierboom sorry I dropped off for a while, but I Just realized that when the track got renamed to `xcsharp` to `csharp` my GitHub email notifications fell through my Gmail filter and were getting auto-archived.

The issue is fixed now so I should be more responsive! Sorry about that.

@jpreese welcome to the team it's nice to have some more help on board, and I'm always happy to see another

[2017-08-18 18:38] robkeim commented on #202
@jpreese I would move this discussion over to this thread to get opinion's from people in other tracks as well:
https://github.com/exercism/discussions/issues/122

Even if other tracks weren't interested in participating, @ErikSchierboom had in mind creating docker container support for C# and F# so we would at minium get reuse out of those two languages.

[2017-08-18 18:44] ErikSchierboom commented on #202
I agree with @robkeim. This is problem something that we should discuss together with other maintainers, but your approach sounds good! Installing the .NET Core runtime is actually quite simple, so we can probably easily add it to a base Exercism Docker image.

[2017-08-18 18:45] ErikSchierboom commented on #342
@robkeim Sounds like a plan! 👍 Don't forget to mention any oddities or improvements you'd like to see.

[2017-08-18 18:46] robkeim commented on #347
This is probably happening because we're not doing a checkout of `origin/master` afterwards so while we have the latest code on disk it's not the active branch. If we checkout `origin/master` after fetching it should work correctly.

[2017-08-18 18:46] ErikSchierboom commented on #355
@robkeim No problem! It's great to have you back. With you and @jpreese on the team, we can make this the best track there is :)

[2017-08-18 18:47] ErikSchierboom commented on #347
Nice catch! Should be easy to fix. A `git pull` instead of a `git fetch` should do the trick.

[2017-08-18 18:57] #355 closed

[2017-08-18 18:59] ErikSchierboom opened #356 "Improve test generators"
- [x] Render `null` as `null` without requiring wrapping in an unescaped values
- [x] Use `Assert.Null` if using `Assert.Equal(null, x)`
- [x] Don't render quote character in test method/class names

[2017-08-18 19:04] ErikSchierboom commented on #355
@robkeim Oh and by the way, if you'd like you can also edit your data in the [maintainers file](https://github.com/exercism/csharp/blob/master/config/maintainers.json).

[2017-08-18 19:12] ErikSchierboom commented on #195
I'm in awe how quickly you ( @jpreese  and @robkeim ) have been able to churn these out! It has been very nice to see what are the rough edges in the test generators code.

[2017-08-18 20:19] #347 closed

[2017-08-19 05:02] robkeim opened #360 "Return null values or throw exceptions in exercises?"
@ErikSchierboom @jpreese after seeing #353 and #359 I think we should agree on when we are going to have exercises return null values vs throw exceptions.

I'd like us to have some consistency and purpose in why we use the two. To simplify things we could move either all invalid input to null or to throw exceptions.

What do you guys think?

[2017-08-19 05:13] jpreese commented on #360
Hm, thats tough.

So my opinion is that the canonical-data should be the source of truth. Whatever is there, is what we render. I don't really think we should be making our own assumptions about what expected should be. Which means I believe we should just support both, and blame the canonical-data for using both.

An example of what I mean is take the [phone-number](https://github.com/exercism/pr

[2017-08-19 05:22] robkeim commented on #360
Ok, I had forgotten some exercises canonical data called for `null` while others were specifying "errors" which transition in C# as `Exceptions`. In that case I agree with you that we shouldn't be adding rules in our track and should follow what the canonical data specifies. That seems like a good policy to me!

[2017-08-19 05:22] #360 closed

[2017-08-19 05:24] robkeim commented on #342
Will do 👍

[2017-08-19 07:19] robkeim commented on #355
Done, just created PR #361.

[2017-08-19 07:24] robkeim commented on #195
Thanks @ErikSchierboom, we're definitely making good progress :)

[2017-08-19 08:34] ErikSchierboom opened #366 "Working with null"
How to handle `null` values? In general, they are widely used in C#, but are also a cause of pain due to the infamous null-reference exceptions. I think we should in general use exceptions when the input is invalid, as that is also what the .NET framework seems to do in most cases (int.Parse, etc.). We should use `null` when we want to indicate that no result could be found (e.g. when querying a c

[2017-08-19 08:39] ErikSchierboom opened #367 "Update about information to make it more detailed"
With Exercism V2, a language track's about page can be quite detailed. With the help of markdown, the resulting page can look beautiful and have quite a bit of information. Our about page currently renders as follows on the V2 website: https://v2.exercism.io/tracks/csharp

It's not bad, but consider the Haskell track's page: https://v2.exercism.io/tracks/haskell
Much better IMHO! I think we should

[2017-08-19 11:43] robkeim commented on #366
@ErikSchierboom we started discussing this a bit in #360, I shouldn't have closed it before letting you chime in.

In #362 I discovered that there are actually three different ways the canonical data are handling "invalid/error" cases:
- null
- adding an error with description
- invalid value (such as -1 for numbers)

[2017-08-19 12:58] ErikSchierboom commented on #366
Correct. For many exercises, the comments explicitly state that each track for themselves should decide how to treat invalid values. This makes sense as most functional languages would replace null with an option type, which you can't easily encode in JSON. Therefore, for each exercise we should determine what to do. The only thing the canonical data gives us is an indication *if* there is an erro

[2017-08-19 13:14] ErikSchierboom opened #369 "Add code snippet to docs"
In Exercism V2, each track's page shows a small code sample. It default to the first 10 lines of hello world, but in our case this doesn't look very pretty: https://v2.exercism.io/tracks/csharp

I think we should provide a docs/SNIPPET.txt file with a slightly better formatted version of the hello world exercise.

[2017-08-19 13:49] ErikSchierboom opened #370 "Normalize string topics"
At the moment, we use both the "Strings" and "Text Formatting" topics. I was thinking that perhaps we should just use the "Strings" topic, as the distinction is very small and might just confuse people.

[2017-08-19 14:52] jpreese commented on #366
@ErikSchierboom so I have two approaches I would take on this then.

1) We update the canonical-data to be consistent. I think if the data isn't valid, an exception should be thrown. My gut says it would be better to be consistent. I assume the only reason why some canonical data is -1, others are null, others are exceptions is because its a community effort. Different contributors, different revi

[2017-08-19 15:34] jpreese commented on #369
Did we just want to update the hello world example? I always thought it could be slightly confusing for new comers as it uses a lambda expression right out of the gate.

[2017-08-19 17:28] ErikSchierboom commented on #369
@jpreese The example shouldn't be confusing for newcomers as they should never even see the example. The purpose of the example file is to prove that the exercise can be solved (and also to learn about the exercise in relation to the track). So that shouldn't be a problem. However, it might be the easiest solution to just update the example with a better formatted version.

[2017-08-19 17:32] ErikSchierboom commented on #366
@jpreese Good points, here's my take:

1. This is a hell of a job and probably not achieveable, due to the one language track considering null and error whereas another track might consider it a valid value.
2. Agreed. Unless @robkeim argues otherwise, let's just use exceptions for invalid input.

[2017-08-19 18:23] robkeim commented on #366
@ErikSchierboom given the first one is going to be hard, going with only exceptions sounds good to me :)

[2017-08-19 18:56] robkeim commented on #370
@ErikSchierboom is there any sort of cross track standardization for topics today? If not, I'm not against migrating the Text Formatting topics to strings as I agree the distinction isn't very pronounced.

[2017-08-19 19:33] ErikSchierboom commented on #370
@robkeim No there is no standardization. In fact, there was sort of an agreement to not try to standardize too much.

[2017-08-19 19:49] robkeim commented on #370
@ErikSchierboom in that case I'd say go ahead and combine the two topics!

[2017-08-19 19:49] ErikSchierboom commented on #370
Okay I will!

[2017-08-19 19:50] robkeim commented on #367
I just checked out v2 of the site for the first time... it's looking awesome!

[2017-08-19 19:53] ErikSchierboom commented on #367
It is, isn't it? If you decide to check it out and find any issues, you can post them [here](https://github.com/exercism/v2-feedback/issues).

[2017-08-19 19:57] robkeim commented on #369
@ErikSchierboom I agree that this snippit definitely doesn't look good, but what are the guidelines for the code sample? If we're looking to attract people to the track maybe we should have a very simple sample removing as much scaffolding as possible which makes C# look easy. Something like this:
[code]

Obviously that's not as "cool" as the lamda solution so I think it depends on what we're aimi

[2017-08-19 20:27] robkeim commented on #195
After the two open PRs merge we'll have 41 out of the 69 available exercises completed in terms of test generators 🎉

[2017-08-19 20:54] ErikSchierboom commented on #369
I love it! Simple and clean, I think it will appeal to newcomers.

[2017-08-19 20:56] ErikSchierboom commented on #195
That's amazing!

[2017-08-19 23:17] jpreese commented on #370
@ErikSchierboom @robkeim I completely agree with this. Text formatting is pretty specific, I'm down with making a little bit more generic.

[2017-08-19 23:27] jpreese commented on #366
PR #371 resolves this. Thanks @robkeim !

[2017-08-19 23:27] #366 closed

[2017-08-20 08:36] ErikSchierboom commented on #370
Closed by #377

[2017-08-20 08:36] #370 closed

[2017-08-20 08:36] ErikSchierboom commented on #369
Closed by #376

[2017-08-20 08:36] #369 closed

[2017-08-21 19:49] jpreese commented on #203
#380 handles this

[2017-08-22 15:01] robkeim commented on #356
Nice work @jpreese getting these issues fixed! Are there any other issues we've discovered so far that we should be tracking here, or should we go ahead and close this issue?

[2017-08-22 15:03] ErikSchierboom commented on #356
I think we can close.

[2017-08-22 15:05] jpreese commented on #356
Yeah it depends if we want to keep this as a rolling issue and keep adding to it, or just close it out and open PRs as we find stuff. I'm a fan of the latter since I don't really like issues that just never have a clear finish line.

I have a couple other ideas, but I was just going to do PRs for them, so I'll go ahead and close this.

[2017-08-22 15:05] #356 closed

[2017-08-23 12:26] ErikSchierboom commented on #345
I've submitted a PR to dotliquid that got merged which enables `dynamic` support: https://github.com/dotliquid/dotliquid/pull/262

[2017-08-23 12:55] jpreese commented on #303
Closing!

[2017-08-23 12:55] #303 closed

[2017-08-23 16:37] robkeim commented on #303
Thanks for your work on this @jpreese! 🎉

I was looking at the build and after your changes and this is the current state:
[code]

The time is getting eaten up by `RestoreNugetPackages` (~30s) and `TestUsingExampleImplementation` (~3m).

I looked into each of their settings briefly but couldn't find any settings to significantly speed up either of their execution times unfortunately :(

[code]

I

[2017-08-23 17:15] ErikSchierboom commented on #303
@robkeim We might also be able to cut down of the .NET restore time by caching the NuGet packages: https://docs.travis-ci.com/user/caching/

[2017-08-23 17:30] jpreese commented on #303
@robkeim yeah some of the documentation seemed lacking, so I mostly dug through their github repo. For example the default restore settings can be found here: https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/DotNetCore/Restore/DotNetCoreRestoreSettings.cs

It's just a boolean, so it'll default to false anyway which is probably why you didn't see movement.

[2017-08-23 17:49] jpreese commented on #202
I'm waiting for some final clarifications in exercism/discussions#122, but assuming nothing changes I'm probably going to make a .NET Core Exercism CLI image that C#/F# can leverage.

[2017-08-23 17:53] ErikSchierboom commented on #202
Great news!

[2017-08-25 18:39] robkeim commented on #195
I'm going to work on the generator for clock

[2017-08-30 10:56] ErikSchierboom opened #390 "Stub files"
At the moment, we provide stub files for all exercises. However, while adding .NET Core support to the F# track, I've decided upon choosing a slightly different approach. In the F# track, the exercises labeled as difficult (difficulty 8-10) don't have any stub implementation, just an empty stub file (so you don't have to create the file). What do you feel about also doing this for the C# track?

[2017-08-30 15:06] robkeim commented on #390
I haven't had the chance to review your F# changes yet @ErikSchierboom, but what's the purpose of leaving the stub files out for the harder exercises... to make things more challenging?

I like the idea of not having to do the boiler plate work each time start a new exercise... do you feel like it adds interest to create the skeleton instead of just adding overhead?

[2017-08-30 16:44] ErikSchierboom commented on #390
Yes, making it more challenging was the idea. However, I must admit that it makes less sense for C# than for F#. With F#, there is a lot of type inference which means that types are specified far less frequently. Part of the F# skillset people should learn IMHO is that they should be able to infer the types themselves. I thought to go one further for the difficulty exercises by removing the stubs,

[2017-08-31 02:38] robkeim commented on #342
Done!

[2017-08-31 02:38] #342 closed

[2017-08-31 06:45] ErikSchierboom commented on #390
I have given it some thought, and have decided against removing the stubs for the C# track. The main reason is that in C# type inference of function parameters etc. is non-existent and virtually all C# IDE's allow generation of the stub methods.

[2017-08-31 06:45] #390 closed

[2017-08-31 14:37] robkeim commented on #390
@ErikSchierboom I hadn't thought about developing the skill of when to specify types in F# but you're right that it's definitely something important to learn and can be non-trivial for people starting out, so I like that direction! I agree this would be less valuable on the C# track though.

[2017-08-31 14:47] ErikSchierboom commented on #390
@robkeim Great to hear! Thanks for helping.

[2017-09-03 16:05] jpreese opened #396 "Hacktoberfest preparation"
Discussion has been starting around Hacktoberfest over in the discussions repository (https://github.com/exercism/discussions/issues/190).

I just wanted to gather everyone's thoughts they may relate specifically to the csharp repository. I found a couple things relating to grammatical/spelling which should be easy grabs for the event.

Easy stuff we can make tickets for:
Capitalize w in hello wor

[2017-09-03 17:52] robkeim commented on #396
@jpreese thanks for bringing up this discussion!

In terms of what we want to have as issues I think that it depends on who we want to attract in terms of contributions. The "capitalize the we in hello world snippet.txt" would be great for someone that's never contributed to open source before and wants to learn about GitHub, pull requests, etc, but for any seasoned developer that's not going to b

[2017-09-03 18:25] jpreese commented on #264
I'd also like to include in this, **why** we have a generator. Talk about the canonical data, versions, etc.

[2017-09-03 18:27] jpreese commented on #396
As far as attracting, I think its really going to be all backgrounds. People newer to GitHub / development are going to be all over those spelling error ones. Those who might come from a more technical writing background might be hunting down documentation tickets. Just giving people options.

I think the generators are going to be our best selling points for the event. We have quite a few left, a

[2017-09-04 06:30] ErikSchierboom commented on #264
Good point. We should take care not to duplicate any of the content that already exists, e.g. https://github.com/exercism/docs/tree/master/language-tracks/exercises and https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/test-suites.md.

[2017-09-04 06:45] ErikSchierboom commented on #396
Absolutely!

Capitalize w in hello world snippet.txt
"It the output" inside of installation.md
"want to to" inside of installation.md

I'm actually in favor of creating separate issues for these small typos, as they are great for new people to get their feet wet in the Hacktoberfest.

Well, there are actually two parts: one is using .NET CLI 2.0 and one is using `netcoreapp2.0` in our projects. Fo

[2017-09-04 17:57] ErikSchierboom opened #398 "Add .editorconfig file"
This will help us with code consistency. See: https://almvm.azurewebsites.net/labs/tfs/editorconfig/

[2017-09-05 13:14] jpreese commented on #398
I'll need to look into editorconfig a bit. My immediate concern is that its going to clash with #203 which is currently attempting to leverage StyleCop.

[2017-09-05 16:54] robkeim commented on #398
I haven't heard of editorconfig before, but it looks like it's really simple to use. It isn't nearly as exhaustive as what StyleCop can provide. That said, if you look at the Rosyln project's eidtorconfig [here](https://github.com/dotnet/roslyn/blob/master/.editorconfig) which was linked in the link @ErikSchierboom added above it still looks pretty detailed.

The advantage that I see with editorco

[2017-09-05 16:56] ErikSchierboom commented on #264
Fixed by #399.

[2017-09-06 14:54] jpreese commented on #264
Closing

[2017-09-06 14:54] #264 closed

[2017-09-06 15:04] jpreese opened #402 "Add Bowling Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:04] jpreese opened #403 "Add Circular Buffer Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:05] jpreese opened #404 "Add Connect Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:05] jpreese opened #405 "Add Custom Set Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:06] jpreese opened #406 "Add Diamond Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:06] jpreese opened #407 "Add Difference of Squares Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:06] jpreese opened #408 "Add Dominoes Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:07] jpreese opened #409 "Add ETL Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:07] jpreese opened #410 "Add Flatten Array Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:08] jpreese opened #411 "Add Kindergarten Garden Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:08] jpreese opened #412 "Add Largest Series Product Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:08] jpreese opened #413 "Add List Ops Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:09] jpreese opened #414 "Add Meetup Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:12] jpreese opened #415 "Add Minesweeper Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:12] jpreese opened #416 "Add Nucleotide Count Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:13] jpreese opened #417 "Add OCR Numbers Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:13] jpreese opened #418 "Add Pascals Triangle Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:14] jpreese opened #419 "Add Robot Name Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:14] jpreese opened #420 "Add Robot Simulator Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:14] jpreese opened #421 "Add Saddle Points Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:15] jpreese opened #422 "Add Tournament Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:15] jpreese opened #423 "Add Triangle Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 15:15] jpreese opened #424 "Add Two Bucket Test Generator"
This issue is part of an overall initiative to complete #195.

The documentation on how to add generators can be found [here](https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md). If you get stuck or have any questions about adding this generator, please do not hesitate to reach out!

[2017-09-06 18:34] jpreese opened #425 "Capitalize W in Hello World Snippet"
The [SNIPPET.txt](https://github.com/exercism/csharp/blob/master/docs/SNIPPET.txt) uses a lowercase 'w'. This should be capitalized to conform to the more accepted "Hello, World!"

[2017-09-06 18:36] jpreese opened #426 "Fix Grammatical Errors in Installation Help File"
In the [INSTALLATION.md](https://github.com/exercism/csharp/blob/master/docs/INSTALLATION.md) file, there are a couple grammatical issues that need to be corrected.

1) "It the output" should be "If the output"
2) "want to to" should be "want to"

[2017-09-07 14:49] ErikSchierboom commented on #425
Closed by #428.

[2017-09-07 14:49] #425 closed

[2017-09-07 14:49] ErikSchierboom commented on #426
Closed by #428.

[2017-09-07 14:49] #426 closed

[2017-09-17 10:33] robkeim opened #434 "Add the exercises without canonical data to test generator"
Here's what I shared about this in #396:

Right now we have to manually check to see if an exercise gets canonical data in the future. I'd like to have it integrated into the generator with some sort of flag saying "this doesn't have data" and then it can start throwing exceptions in the future if the data is created so we know we'll have to implement it (keeping my fingers crossed that all exerci

[2017-09-19 13:16] jpreese opened #435 "Clock test generator should render Assert.Equals"
The Clock test generator currently renders:

[code]

For the "Clocks with same time" test case. This should be simplified by using Assert.Equals

[2017-09-27 22:06] felix91gr commented on #407
I want this issue! I think I can finish the tests by this weekend. How should I mark it so that someone else isn’t working on it as well?

[2017-09-27 22:20] felix91gr commented on #195
Ah, here it is. I’m going to work in the Difference of Squares Test Case Generator :D

[2017-09-27 22:25] jpreese commented on #407
Thanks @felix91gr ! Just saying something here should suffice. If someone looks at this issue, they should see that you had interest in it.

[2017-09-28 00:43] jpreese commented on #396
Hacktoberfest signups are out!

[2017-09-28 00:43] #396 closed

[2017-09-28 01:01] felix91gr commented on #407
Awesome :) Thanks!

[2017-09-28 01:02] jpreese commented on #407
No problem! Please do not hesitate to reach out if you get stuck on anything. We're here to help 👍

[2017-09-28 07:35] NobbZ opened #436 "Kindergarten problem. Not clear which functions does what"
@rwobben commented on [Wed Sep 27 2017](https://github.com/exercism/exercism.io/issues/3638)

Hello,

I try to solve the kindergarten challenge in c#. I see that there are 3 seperate functions given: Garden, GetPlants and DefaultGarden.

I think GetPlants must give me the answer to this problem.
But what schould the other two do exactly ?

Roelof

---

@NobbZ commented on [Thu Sep 28 2017](https:/

[2017-09-28 07:38] NobbZ commented on #436
Let me chime in with possible solutions to this problem:

* Remove all methods that are not part of the canonical data
* Put documentational comments to the method declarations in the stub
* extend the README of the exercise to explain the extended requirements

[2017-09-28 07:57] ErikSchierboom commented on #436
All very good points! I think we can solve this by better conforming to the canonical data, which should be done by creating a test generator for it: #411.

[2017-09-28 08:05] NobbZ commented on #436
Perhaps try to explain here for now to make @rwobben able to continue with the exercise?

[2017-09-28 16:45] bmeverett opened #438 "Latest commit doesn't build"
I was looking over all the issues for hacktoberfest but I wasn't able to get the latest commit to build. I am able to run the `build.ps1` script but when I run `dotnet run` I get the following errors:

[code]

I checked out the previous commit `git checkout d2bcc1facd` and ran `dotnet run` and it built just fine.

[2017-09-28 17:06] ErikSchierboom commented on #438
@bmeverett Whoops! Sorry about that. I've created a [PR](#440) that fixes the issue. Once the build passes, I'll merge it.

[2017-09-28 17:15] bmeverett commented on #438
@ErikSchierboom no problem! Maybe you could add a build step to build the project as part of your CI to catch this in the future?

[2017-09-28 17:26] #438 closed

[2017-09-28 17:57] jpreese opened #441 "Include Generators Solution in Build"
Cake currently only builds the Exercises solution, and not the Generators solution. Without this check, we don't get the benefit of Travis validating the entirety of the build for us. This gap makes it possible to merge in a broken build.

[2017-09-28 17:59] ErikSchierboom commented on #438
@bmeverett Great idea! The PR has been merged, so the generators project should be fixed

[2017-09-28 17:59] jpreese commented on #438
Created #441 for this.

[2017-09-28 19:37] ErikSchierboom opened #443 "Allow passing parameters to build.sh and build.ps1 script"
The `build.sh` and `build.ps1` scripts don't support passing parameters. This is unfortunate as we then cannot run a single exercise in the build.

To fix this, we should look at how Cake defines their default shell script themselves: https://github.com/cake-build/resources/blob/develop/build.sh
https://github.com/cake-build/resources/blob/develop/build.ps1

[2017-09-28 19:38] ErikSchierboom commented on #436
@NobbZ I'll do that tomorrow!

[2017-09-29 06:26] ErikSchierboom commented on #436
@NobbZ @rwobben The `Garden.DefaultGarden` method is static factory method that returns a new `Garden` instance with default child names. The `Garden` constructor allows you to specify the child names. Lastly the `GetPlants` method is an instance method of the `Garden` class, and returns the plants for the child name passed as its argument.

I'll be working on creating an updated version of the ex

[2017-09-29 06:26] #436 closed

[2017-09-29 11:59] robkeim commented on #441
Good catch @jpreese! This one shouldn't be too hard to fix either

[2017-09-29 12:24] robkeim commented on #195
I'm closing this issue now that we have individual issues for each generator.

[2017-09-29 12:24] #195 closed

[2017-09-29 14:34] ErikSchierboom commented on #195
Agreed!

[2017-09-29 20:28] Gimly commented on #419
I'm not sure I'm getting how the generators work exactly. For this exercise, there is no canonical data specified, wouldn't that mean that the exercise doesn't need a generator?

[2017-09-29 20:32] ErikSchierboom commented on #419
Yes, if there is no canonical data for this exercise, there can't be a test generator. Sorry about that.

[2017-09-29 20:35] Gimly commented on #419
No worries, I was quite confused. So I guess you can close this issue because this exercise doesn't have any canonical data.

[2017-09-29 20:36] GKotfis commented on #419
I'm also trying to figure it out connection between canonical-data and generator. But I didn't find any canonical-data.json in this repository. So this issues are valid? :)

[2017-09-29 20:38] Gimly commented on #419
@GKotfis The canoncial-data.json are defined in another repository, the https://github.com/exercism/problem-specifications which contains all the problem specifications (as the name says 😄).

If you run `dotnet run` in the generator folder of this repository then it will run all generators.

[2017-09-29 20:40] ErikSchierboom commented on #419
There is some documentation on the test generators here: https://github.com/exercism/csharp/blob/master/docs/GENERATORS.md

[2017-09-29 20:48] GKotfis commented on #424
I'll deal with it.

[2017-09-29 21:35] GKotfis commented on #424
Question about file & class names. Exercise, project name and canonical-data are "TwoBucket". But class name in exercise is "TwoBucket**s**. As I see generator use class name also for finding canonical-data and here is the problem. The quickest option will be to change class name in exercise to TwoBucket?

[2017-09-30 01:16] felix91gr commented on #412
I'll tackle this one as well

[2017-09-30 01:19] jpreese commented on #424
@GKotfis yep! Feel free to update the existing class. This case is specifically outlined in the provided generators documentation :)

[2017-09-30 06:56] robkeim commented on #419
I'm closing this issue since there's no canonical data for this exercise.

@Gimly and @GKotfis thanks for looking into this! Feel free to update or suggest updates for the documentation for the generators as well. So far, we've had a very small group of contributors which hasn't forced us to be very rigorous with our documentation :)

[2017-09-30 06:56] #419 closed

[2017-09-30 07:01] robkeim commented on #424
@GKotfis for some historical context, when this project started we didn't have any canonical data so each of the different tracks had a lot of liberty in their implementations (naming, what they tested, etc).

Now we're trying to standardize to have a more consistent experience across tracks which is great, but we're trying to retrofit our existing solutions into the generators. For some exercises

[2017-09-30 07:38] ErikSchierboom commented on #443
I'm working on this.

[2017-09-30 09:22] ErikSchierboom opened #444 "Build scripts should also install .NET Core 1.0.4 runtime"

[2017-10-01 16:04] #411 closed

[2017-10-01 17:28] bangsholt commented on #403
I'll have a look at this one :)

[2017-10-01 18:36] bangsholt commented on #402
I'll have a look at this one :)

[2017-10-01 19:31] ErikSchierboom commented on #402
👍

[2017-10-01 23:58] bmeverett commented on #423
I can take this one. Should the `Generators.sln` compile as soon as I add `Exercises/Triangle.cs`? Or will it only compile after I override `UpdateConcicalData`, although I set a break point and it doesn't even seem to be getting to the class but crashes when parsing the JSON.

[2017-10-02 01:22] jpreese commented on #423
Thanks for taking a look @bmeverett! The project should build as soon as you add `Triangle.cs` to the project. Make sure that you're inheriting from the `Exercise` base class.

[2017-10-02 02:07] bmeverett commented on #423
@jpreese sorry about that, it compiles but crashes when trying to generate the Triangle tests.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-02 02:32] jpreese commented on #423
Thats no good. Can you provide some more information about the error that you're getting?

[2017-10-02 04:44] paulogleuwyo commented on #435
I'll take a crack at the clock exercise #437

[2017-10-02 06:08] ErikSchierboom commented on #424
Fixed by #447.

[2017-10-02 06:08] #424 closed

[2017-10-02 06:18] GKotfis commented on #417
I'll deal with it

[2017-10-02 08:10] GKotfis commented on #417
I need to figure it out how to generate valid digit representation as code:
![image](https://user-images.githubusercontent.com/7391978/31068688-75710c6e-a759-11e7-9fbb-636447f97e72.png)

Don't know if DotLiquid have such option to generate non string characters that are part of code - here '+' sign

[2017-10-02 09:30] GKotfis commented on #417
Have something that generate almost desired output:
![image](https://user-images.githubusercontent.com/7391978/31071573-d9521b0a-a764-11e7-8a07-0fdc51f3b412.png)
as you see I lost indentation - argument not starting in the same line as  method call. But maybe it's ok?

[2017-10-02 09:41] ErikSchierboom commented on #417
@GKotfis Hmmm, that's almost correct! There is an Indent function somewhere, but I don't know if you can easily use that in your code. If not, I think this is fine.

[2017-10-02 11:46] bmeverett commented on #423
Here is the stack trace of the error I'm getting

[code]

[2017-10-02 12:29] jpreese commented on #423
So this is the code I have for Traingle.cs (added it to Generators/Exercises/Triangle.cs), I didn't change anything else.

[code]

If this matches what you have and still errors, could you push the branch that gives you this error? I'll be able to check it out and debug locally.

[2017-10-02 12:50] bmeverett commented on #423
Pushed to https://github.com/bmeverett/csharp/tree/423-triangle-generator and I copied and pasted what you had and it still errors

[2017-10-02 12:57] jpreese commented on #423
Awesome thanks! It looks like your branch is a little behind. We made some changes to the generator framework recently, so you'll want to pull those in.

I checked out your branch and was able to reproduce the issue. After merging in master, everything worked.

[2017-10-02 13:04] bmeverett commented on #423
Thank you! That did it!

[2017-10-02 14:21] #443 closed

[2017-10-02 14:21] #444 closed

[2017-10-02 15:59] robkeim commented on #403
@bangsholt which cases exactly are you referring to that don't have an expect clause?
https://github.com/exercism/problem-specifications/blob/master/exercises/circular-buffer/canonical-data.json

I just glanced at this *very* quickly, but in the cases where there's no `expected` it seemed that is because `should_succeed` is false.

[2017-10-02 16:01] robkeim commented on #435
@R0nd were you still planning on continuing with this? If not, it seems like @paulogleuwyo is interested in looking into it as well.

[2017-10-02 17:33] InKahootz commented on #416
I'll hop in with this one! Looking over the files, it seems to be a easy starter :smiley:

[2017-10-02 18:34] R0nd commented on #435
When I last looked, the current source code wouldn't compile. Giving it up for now.

[2017-10-02 18:54] bangsholt commented on #403
The problem case seems to be the one I've linked to here:

https://github.com/exercism/problem-specifications/blob/e7a596c1a76038ad441c281234634667b2222d81/exercises/circular-buffer/canonical-data.json#L336

A KeyNotFound exception is thrown - I don't understand why it's working previously with the other steps that doesn't have should_succeed and expected.

[2017-10-02 20:05] bmeverett commented on #423
So I think the [triangle data](https://github.com/exercism/problem-specifications/blob/master/exercises/triangle/canonical-data.json) is throwing me off.

Property- equilateral this isn't a property of the class, I get that it's supposed to be `TriangleKind.Equilateral`
sides- the sides is an array, do we need to break this up or change the class to input an array as a parameter
expected value - t

[2017-10-03 07:06] ErikSchierboom opened #452 "Fix line endings to newline"
To prevent cross-platform issues, we should use `\n` for all our source code files, both for exercises and generators, as well as generated test files.

[2017-10-03 07:07] #441 closed

[2017-10-03 09:10] ErikSchierboom commented on #403
@bangsholt Ah I see. The problem with the circular buffer test case is that you have several operations that have to be executed in a single test, some of which are only there to modify the state and which return value does not need to be tested. This is the case in the canonical data case you mention. Does that make sense?

[2017-10-03 09:19] ErikSchierboom commented on #423
@bmeverett Great observation. What I think we should do is to modify our stub and example implementation to drop the enum and simplify add three boolean tests: `scalene`, `isosceles` and `equilateral` (and perhaps add a more idiomatic `IsScalene`, `IsIsosceles` and `IsEquilateral`).  In most cases it makes sense to just follow the canonical data, and I think mapping this canonical data to a format

[2017-10-03 09:31] ErikSchierboom commented on #416
@InKahootz Good observation! The test generators should just follow the canonical data as specific in the [problem-specification repo](https://github.com/exercism/problem-specifications), so if that means losing a couple of test, that is completely fine.

[2017-10-03 11:08] GKotfis commented on #422
unless there is not limit I'll deal with it :)

[2017-10-03 11:11] ErikSchierboom commented on #422
There is no limit! Go for it! :)

[2017-10-03 15:15] robkeim commented on #435
@R0nd there was a bad commit that caused the solution to no longer compile but it was fixed here:
https://github.com/exercism/csharp/issues/438

In addition we added this solution to the build so the issue won't happen again:
https://github.com/exercism/csharp/issues/441

If you're still interested in contributing there are other exercises and as long as you sync your branch with the latest master

[2017-10-03 16:20] GKotfis commented on #422
Btw this generator could use some helper method like existing "RunTally" that convert IO Stream to string. I don't see such option now. So one solution will be to add this logic for every test or maybe better - extend generator Output API to have option to write custom methods, code in test class. What do you think?

[2017-10-03 16:48] ErikSchierboom commented on #422
I agree, and in principle this is already supported as the `TestClass` class has a property `Methods` (note that I explicitly named it `Methods`, not `TestMethods`, to which you could then add the utility method. At the moment, the `CreateTestClass` function  creates the `TestClass` instance. We can do several things:

1. Make `CreateTestClass` virtual so that you can add additional methods.
2. Ad

[2017-10-03 17:06] robkeim commented on #422
@ErikSchierboom option 2 would also be my preferred solution as I think it's more explicit.

[2017-10-03 17:59] jpreese commented on #435
Resolved by #453

[2017-10-03 17:59] #435 closed

[2017-10-03 18:03] jpreese commented on #422
If I understand the problem scope correctly, in the sense that we want the ability to add helper methods to the generated test suite, Option 2 seems like the best approach.

We can take the string array and just append it onto the end of the collection of tests so that the helpers always appear at the bottom.

[2017-10-03 19:27] GKotfis commented on #422
Let's create separate issue for that.

[2017-10-04 00:17] jpreese commented on #452
I played with this a little bit on a local branch, and the change itself is pretty straightforward. Though after the fact, every stage you perform, you're going to get warnings about CRLF to LF conversions.

I'd be curious to see how typical it is to deviate away from text=auto, which should handle it for us.

[2017-10-04 06:18] ErikSchierboom commented on #417
Closed by #450

[2017-10-04 06:18] #417 closed

[2017-10-04 06:19] ErikSchierboom commented on #422
@GKotfis Thanks to @GKotfis, there is now support for additional methods (see #454).

[2017-10-04 06:19] ErikSchierboom commented on #452
@jpreese Hmmm, if it proves to be more of a nuisance than a boon, we should just skip it.

[2017-10-04 11:44] ErikSchierboom commented on #422
Closed by #457

[2017-10-04 11:44] #422 closed

[2017-10-04 12:02] ErikSchierboom commented on #416
Closed by #456

[2017-10-04 12:02] #416 closed

[2017-10-04 13:47] jpreese commented on #452
Yeah I'd need to look into it more, but it's my understanding that `auto` will do the transform for us, without the warning. Linux users shouldn't have a problem as they're using LF anyway. I'm not honestly sure why it was impacting @felix91gr.

I then looked at a random sampling of repositories and really couldn't find any that explicitly set LF.

[2017-10-04 13:48] ErikSchierboom commented on #452
Okay, let's close this then.

[2017-10-04 13:48] #452 closed

[2017-10-04 15:07] InKahootz commented on #409
I've started on this one.

[2017-10-04 15:41] felix91gr commented on #452
The problem was that my git changed some files that had CRLF instead of LF. Some Windows user must’ve accidentally created those.

My point is, if it happened once, maybe it’ll happen again. Better enforce the LF everywhere so that we don’t get spurious file changes when git notices CRLF and decides to normalize it.

[2017-10-04 16:38] ErikSchierboom commented on #452
Well, I've tried to reproduce this on my Mac but have failed. So I suspect it might be some environment-specific issue with your machine. If more people have this issue, we can always re-open.

[2017-10-04 17:35] InKahootz commented on #452
I actually encountered the same problem @felix91gr did with those two specific files in the `largest-series-product` exercise folder. I tried a whole heap of solutions, but nothing would allow me to discard those changes.

I tried changing my global config autoclrf (which was originally set to `true`)
[code]
Every time I changed the setting, I removed the directory and recloned it, but as soon as

[2017-10-04 18:52] InKahootz commented on #409
I've run into a design decision. The `input` from the canonical-data is of type `IDictionary<int,IList<string>>` which switches to `default:` in the `ValueFormatter` class. Would it be helpful to add this to the `ValueFormatter` class or do I just write some methods in the generator class that formats it for me while Arranging?

If wanted in ValueFormatter I think I will also need to add a FormatM

[2017-10-04 18:54] bmeverett commented on #418
I'll take a look at this one as well. I think I got most of it, just trying to figure out the last two cases that are null and return -1

[2017-10-04 19:41] ErikSchierboom commented on #409
@InKahootz Well, good point. It may be easier to just do the formatting in the generator class itself. We can always refactor to another method if needed later.

[2017-10-04 19:43] ErikSchierboom commented on #418
@bmeverett Those inputs should throw an exception. To get that behavior in a generator, checkout this code: https://github.com/exercism/csharp/blob/9e4635b7dfc304c3985795054398d0a6402a9941/generators/Exercises/NthPrime.cs

[2017-10-04 23:38] felix91gr commented on #452
### About `.gitattributes`

Regarding this file, I think we _should_ change it, but if you guys prefer leaving it as-is, I don't think that would cause problems either. We shouldn't see more `CRLF` line endings appearing out of nowhere, because it appears to be that the default config for almost everyone takes them away before commiting or saving.

### About the problematic files currently present

[2017-10-05 01:38] jpreese commented on #452
I'm not opposed to changing those couple of files. Those could have gotten in a wonky state from who knows how long ago.

My stance is that if we chance .gitattributes to force LF, every stage from there on out will have this warning and it'll probably take some local finagling to get them to go away.

If we fix those files, the text=auto property that already exists should handle everything grace

[2017-10-05 02:22] felix91gr commented on #452
Should I let the change propagate from my original PR? Or should I make a new one for this?

How so? I'm missing something.

But here:

You are right. This shouldn't happen again for a long time anyways :)

[2017-10-05 02:31] jpreese commented on #452
1) That was my experience. I can play with it some more, but I followed the steps listed here https://help.github.com/articles/dealing-with-line-endings/ and then every time I staged a file in the repo, EVERY file warned me about the conversion, instead of just those few.

2) I'd probably just open another to keep the issues distinct, the files aren't even the same.

[2017-10-05 02:43] felix91gr commented on #452
Oh shit. That's no good.

Oki doke. I'll make another one then, and after that I'll finish the Difference of Squares PR without having to hack around with `git` :)

[2017-10-05 02:54] jpreese commented on #452
You're more than welcome to follow those steps and play with it yourself. I really haven't explicitly set `.gitattributes` outside of using auto before, and I haven't found many other repos that do it.

[2017-10-05 03:39] felix91gr commented on #452
Fixed this in #461 :+1:

[2017-10-05 06:08] ErikSchierboom commented on #409
Closed by #462.

[2017-10-05 06:08] #409 closed

[2017-10-05 06:53] GKotfis commented on #421
I take this

[2017-10-05 11:34] ErikSchierboom commented on #421
Closed by #463.

[2017-10-05 11:34] #421 closed

[2017-10-05 12:06] #418 closed

[2017-10-05 14:22] InKahootz commented on #414
Started on this one.

[2017-10-06 12:03] bmeverett commented on #404
I'll take this one

[2017-10-09 07:20] #408 closed

[2017-10-09 17:27] #404 closed

[2017-10-10 01:15] jpreese commented on #407
Were you still working on this one @felix91gr?

[2017-10-10 01:17] felix91gr commented on #407
Yes! Just gimme a couple of days... I’ve been busy with uni work 😅

On Mon, Oct 9, 2017 at 10:15 PM John Reese <notifications@github.com> wrote:

[2017-10-11 01:32] felix91gr commented on #412
I finished this one as well :)
I'll wait for #471 to get merged before I open a PR though, because I branched off of that commit.

[2017-10-11 01:34] felix91gr commented on #415
I'm signing up for this one as well!

[2017-10-11 04:00] felix91gr commented on #410
Working on this one!

[2017-10-11 14:41] avjgit commented on #406
[Current tests](https://github.com/exercism/csharp/blob/master/exercises/diamond/DiamondTest.cs) are using property testing.
Whereas [current canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/diamond/canonical-data.json) contain value based testcases.
So, canonical data should be updated by adding property based testcases?
Or should rewrite them?
What would b

[2017-10-11 17:16] ErikSchierboom commented on #406
Great observation. I think in this case we might not actually want to use the canonical data, as I think there is value in the property-based testing approach. @jpreese @robkeim what do you think?

[2017-10-11 19:38] ErikSchierboom commented on #407
Closed by #471

[2017-10-12 02:26] felix91gr commented on #406
Property Testing for the win!

It's so much stronger and descriptive than Case Testing.

That said, is it easy to follow for people doing the exercises? That should be the main criteria to apply here, right?
If it is, I think this is actually **better in every way**. It generalizes over all the domain of input. Unless the exercise itself changes, the canonical testcases will always be behind this

[2017-10-12 02:31] felix91gr commented on #412
It's here: #474

[2017-10-12 06:14] ErikSchierboom commented on #415
Closed by #472

[2017-10-12 06:14] #415 closed

[2017-10-12 06:14] #407 closed

[2017-10-12 22:52] felix91gr commented on #412
Now that the PR's been merged, this issue can be closed :)

[2017-10-12 23:09] felix91gr commented on #398
This conversation intrigues me. Sorry if I'm butting in.

AFAIK, they serve different purposes:
- `editorconfig` is a **formatter**, which means cleanup of format and spacing inconsistencies, among other things. It's usually applied before every commit, to ensure the commited code is all presented in the same way.
The changes of a formatter can **always** be automatically applied. It can be run on

[2017-10-13 00:26] jpreese commented on #412
Awesome! Thanks, @felix91gr.

[2017-10-13 00:26] #412 closed

[2017-10-13 00:27] jpreese commented on #406
Yeah, I would agree. This is a nice case to have where we can expose developers to property based testing (the tests themselves even use FsCheck).

[2017-10-13 00:27] #406 closed

[2017-10-14 00:05] jpreese commented on #410
Closed via #473, thanks @felix91gr!

[2017-10-14 00:05] #410 closed

[2017-10-14 23:02] felix91gr commented on #410
^^ it's my pleasure :)

[2017-10-15 19:50] robkeim commented on #190
@petertseng and @ErikSchierboom I'm going to go ahead and close this issue since the canonical data has `canChain` and not `chain`:
https://github.com/exercism/problem-specifications/blob/master/exercises/dominoes/canonical-data.json

If we want to re-open this for discussion I think we should change the canonical data first then update the individual tracks. Does that make sense?

[2017-10-15 20:08] robkeim commented on #406
I agree we have a good reason for diverging from the canonical data here, and I think it would be sad to give up the opportunity of introducing/using property based testing just to conform with the canonical data.

When we go to solve https://github.com/exercism/csharp/issues/434 we'll need to have another status that is explicitly ignoring the canonical data.

[2017-10-15 20:09] robkeim commented on #434
With the diamond exercise (https://github.com/exercism/csharp/issues/406) we also decided to explicitly ignore canonical data in favor of property based testing, so that should be taken into account when solving this issue.

[2017-10-15 21:12] petertseng commented on #190
My suggestion for `chain` stands even when the canonical data contains `canChain` because https://github.com/exercism/problem-specifications/blob/master/exercises/dominoes/canonical-data.json#L21-L24.

It does not matter to me whether this issue is closed, but what does matter to me is that if it is closed, it is closed for the right reason.

If considering `chain` in canonical-data.json, it may b

[2017-10-15 22:53] masters3d opened #476 "What is the story of Linters in C#?"
Hi,
I am curious about the status on linters in C#?
In Swift we have SwiftLint and in Typescript we use TSLint. What is the a cross platform linter for C#? I'll be happy to help implement this but I just need a little bit of direction.

I read about this but this is new:
https://github.com/DotNetAnalyzers/StyleCopAnalyzers

[2017-10-16 07:36] ErikSchierboom commented on #476
@masters3d There already is an existing issue on this topic: #203. Could you chime in there?

[2017-10-16 07:36] #476 closed

[2017-10-16 07:38] ErikSchierboom commented on #190
I think I lean towards keeping this closed, to keep the implementation of an already challenging problem slightly simpler.

[2017-10-16 07:39] ErikSchierboom commented on #406
@robkeim Good idea!

[2017-10-16 14:18] masters3d commented on #203
Are analyzers the only option for linting code?
https://github.com/DotNetAnalyzers/StyleCopAnalyzers

Is there a defacto analyzer?

[2017-10-17 19:05] cmccandless opened #477 "two-bucket: Fix incorrect test case"
Canonical data was recently changed for this exercise to [fix an incorrect test case](/exercism/problem-specifications/issues/911). The [implementation](/exercism/csharp/blob/master/exercises/two-bucket/TwoBucketTest.cs#L62-L63) for the updated test data should be updated as well.

[2017-10-18 06:01] #477 closed

[2017-10-18 14:30] nikibobi commented on #420
I will take this task

[2017-10-18 14:40] robkeim commented on #398
Thanks @felix91gr for chiming in here! You're correct that StyleCop does static analysis although it can be run locally on every build as well as in the CI, particularly given our project isn't very large.

IMO, the discussion around linting/formatting has been a bit confused by two distinct things we're trying to enable:
1. Static analysis/linting on the C# solution (generators and examples) to e

[2017-10-20 02:14] deyshin commented on #405
I started working on this. Please allow me a week or so.

[2017-10-20 02:15] deyshin commented on #413
I started working on this. Please allow me a week or so.

[2017-10-22 14:23] robkeim commented on #413
Sounds good @deyshin, please let us know if you have any questions!

[2017-10-23 12:10] #402 closed

[2017-10-26 03:26] jpreese commented on #414
Were you still wanting to complete this one @InKahootz ?

[2017-10-26 12:07] ErikSchierboom commented on #345
This has been implemented in several PR's and can be closed.

[2017-10-26 12:07] #345 closed

[2017-10-26 23:57] petertseng commented on #190
It looks like this track will need to change its README.

The https://github.com/exercism/csharp/blob/master/exercises/dominoes/README.md says such things like:

Since this track asks for canChain, this should probably read "Compute whether there exists a way to order a given set of dominoes"

Since this track asks for canChain, this should probably read "For example given the stones 21, 23 and 13

[2017-10-29 13:50] robkeim commented on #190
Good point @petertseng... I'm re-opening this issue to track a README change.

[2017-11-01 13:53] robkeim opened #484 "Implement the Isbn Verifier exercise"
This new exercise needs to be implemented.

Problem description: https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/description.md

Canonical data: https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/canonical-data.json

[2017-11-01 13:54] robkeim commented on #484
I'd like to do this one, I should have time this weekend.

[2017-11-01 14:10] ErikSchierboom commented on #484
Great!

[2017-11-06 18:11] jenlouie commented on #484
Hi @robkeim, did you start working on this one already? If not, I'd love to do it. I have some time to work on it in the next few days. Thanks!

[2017-11-08 05:48] robkeim commented on #484
Hello @jenlouie! I've been caught up in some other things so I haven't had time to dig into this yet. Feel free to start working on it, but make sure that you're familiar with our generator system for test cases before starting. Thanks!

[2017-11-08 06:30] jenlouie commented on #484
@robkeim, will do! Thanks!

[2017-11-10 11:24] #484 closed

[2017-11-12 11:29] robkeim opened #486 "Add reverse-string exercise"
Description can be found here:
https://github.com/exercism/problem-specifications/blob/master/exercises/reverse-string/description.md

Canonical-data here:
https://github.com/exercism/problem-specifications/blob/master/exercises/reverse-string/canonical-data.json

[2017-11-12 11:29] robkeim commented on #486
I'll take this one

[2017-11-12 13:30] robkeim opened #488 "Update exercises with latest canonical data"
I started the first batch of this work in #487 but there are still three exercises remaining (as of Nov 12):
- AllYourBase (changed to using "error" structure)
- BeerSong (changed to returning an array which isn't currently being formatted multi-line. That means the test validating the entire song is a reaaalllllyyyyy long line :) I think we should update the array to be able to be formatted multi

[2017-11-12 13:43] robkeim opened #489 "Automating canonical data updates?"
I'm opening this issue with an open-ended question to provoke a discussion...

There's quite a bit of churn on the canonical data and right now we're manually updating the exercises as we stumble up on them. I'm wondering what the complexity would be to automate handling these canonical data updates and if it would be worth implementing a system to handle these updates "automatically".

The way I

[2017-11-13 07:39] ErikSchierboom commented on #486
Closed by #490

[2017-11-13 07:39] #486 closed

[2017-11-13 07:40] ErikSchierboom commented on #489
Well, my first thought is that it would be much effort for not that much gain, but if anyone wants to try and take this on, I wouldn't object.

[2017-11-13 07:40] ErikSchierboom commented on #434
I'm working on this.

[2017-11-13 13:23] ErikSchierboom commented on #488
I'm working on this

[2017-11-13 14:45] ErikSchierboom opened #493 "Update song exercises"
There are multiple song-related exercises:

- `house`
- `beer-song`
- `twelve-days`
- `proverb`
- `food-chain`

These exercise have all been updated to have a similar structure. This includes having the return value be an array of strings, instead of a big string. We should decide if we want to follow that approach or still use strings. What do you think?

[2017-11-13 14:46] ErikSchierboom commented on #488
@robkeim PR #492 doesn't include the BeerSong update, which I've included in a new issue: #493.

[2017-11-13 15:07] robkeim commented on #493
I'm usually a fan of following the canonical data (where it makes sense), but I didn't read the entire thread on *why* they changed to the array format to represent these instead of a single string. @ErikSchierboom do you know?

My gut feel would be that having a string seems more natural but I don't have a strong enough argument for that to convince myself it's worth straying away from the canoni

[2017-11-13 15:21] ErikSchierboom commented on #493
I don't recall exactly why the array approach was chosen. I'm not really for or against an approach, although in the F# track I've used lists for the expected result, not strings.

[2017-11-14 01:58] #434 closed

[2017-11-18 16:09] #488 closed

[2017-11-18 16:27] robkeim commented on #489
Thanks for the feedback @ErikSchierboom. That was my gut feeling as well, but wanted to see what other people's thoughts were.

I'll go ahead and close this issue for now unless anyone else sees an easy way to do this that wouldn't require a large investment.

[2017-11-18 16:27] #489 closed

[2017-11-18 16:37] robkeim commented on #493
In that case I'd say let's go with the path of least resistance :)

From a student perspective I think the array approach might be *slightly* more difficult, but nothing considerable. How about in terms of maintenance for us?

[2017-11-18 16:39] ErikSchierboom commented on #493
I don't think it matters much :)

[2017-11-19 08:22] ErikSchierboom commented on #190
I'm working on this

[2017-11-19 11:28] #190 closed

[2017-12-04 09:12] sjwarner-bp opened #497 "change: broken link in README.md"
There is a broken link in the README.md for the `change` exercise [here](http://www.exercism.io/exercises/csharp/change/readme).

After a quick look, I can no longer find the linked resource online.

[2017-12-06 09:55] jenlouie commented on #497
It looks like the broken link can be updated to the same link referenced by the [change exercise in ruby](http://exercism.io/exercises/ruby/change/readme):
https://web.archive.org/web/20130115115225/http://craftsmanship.sv.cmu.edu:80/exercises/coin-change-kata

[2017-12-06 10:06] ErikSchierboom commented on #497
@sjwarner-bp Would you be willing to create a PR with the proposed fix?

[2017-12-06 10:12] sjwarner-bp commented on #497
@ErikSchierboom Sure thing!

[2017-12-06 12:22] #497 closed

[2017-12-10 08:05] robkeim opened #500 "Add Armstrong numbers exercise"
If you'd like to implement this exercise please ensure that you include a test generator for this exercise. Code for the test generators can be found here:
https://github.com/exercism/csharp/tree/master/generators

Problem specification:
https://github.com/exercism/problem-specifications/blob/master/exercises/armstrong-numbers/description.md

Canonical data:
https://github.com/exercism/problem-spe

[2017-12-10 08:05] robkeim commented on #500
I'll take this one

[2017-12-10 10:00] #500 closed

[2017-12-22 13:57] NobbZ opened #502 "Pangram: Add tests for accented characters and non-latin scripts"
@isani commented on [Fri Dec 22 2017](https://github.com/exercism/problem-specifications/issues/1048)

On the csharp track, many pangram solutions use the built-in method IsLetter(char). This method matches more than a-z, which leads to wrong results when the input contains Unicode letters. There are currently no tests that contain letters outside the a-z range, and thus a range of bugs are not ca

[2018-01-08 08:23] Warlaan commented on #367
The about page seriously needs an update. There are a lot of good things to be said about C#, but half of the things currently on the about page I strongly disagree with.

"The learning curve is small, reduced even if the developer has experience with other 'C-style' languages." I have no idea how C# managed to pull off that popular misconception, but it's just plain wrong.

I would say: "C# is de

[2018-01-08 09:42] ErikSchierboom commented on #367
@Warlaan Thanks for the feedback! Looking forward to your suggested changes.

[2018-01-08 13:40] martinfreedman opened #506 "bracket-push provides solution on cli fetch"
when fetching this exercise on windows cli, bracketpush.cs contains a solution rather than the skeleton code.

[2018-01-08 13:52] ErikSchierboom commented on #506
Good catch! Would you be interested in creating a PR to fix this?

[2018-01-08 15:48] martinfreedman opened #507 "Transpose still has wrong test cases"
Tests many_lines() and First_line_longer_than_second_line() did not get spacing correct at the end.

[2018-01-08 16:18] ErikSchierboom commented on #507
@martinfreedman Is that also in the canonical data? Or is perhaps the exercise not updated yet to the latest canonical data?

[2018-01-08 18:15] martinfreedman opened #508 "Hangman is not FRP"
Meant to use FRP , in c# that is Reactive Linq. However the tests force one to use a conventional .Net event rather than Subscribe to an Observable.

[2018-01-09 08:21] Warlaan commented on #367
I created a PR with my suggested text: https://github.com/exercism/csharp/pull/509

[2018-01-09 20:21] martinfreedman commented on #506
ok will try

[2018-01-09 21:00] martinfreedman commented on #506
Pull request #510

[2018-01-09 21:28] ErikSchierboom commented on #506
Closed by #510

[2018-01-09 21:28] #506 closed

[2018-01-09 21:31] ErikSchierboom commented on #508
Hmmm, good point. Do you think it would be a good idea to convert the exercise to use observables?

CC @robkeim

[2018-01-09 22:29] martinfreedman commented on #508
Yes and No.

I don't recall there being an exercise for events  and this is good for that purpose too. That is, we need an exercise like this, as it is currently configured.

On the other hand, I imagine we agree we also need a Rx exercise too.

So really, IMV, there should be two exercises. It is  possible to  combine them into one,  in order to cohere with the cross-language exercise framework -

[2018-01-10 07:31] ErikSchierboom commented on #508
I would rather not combine the two concepts, to ease the learning curve. Do we have another exercise where we can apply events or FRP? @robkeim?

[2018-01-10 11:19] martinfreedman commented on #507
In problem-specifications/exercises/transpose/canonical-data.json:-
a) there is no entry for "many lines"  ( there is `Many_lines()` in the TransposeTest.cs)
b) "first line longer than second line" appears incorrect - the last row should read `". "` not `"."`  (compare to the last line of "second line longer than first line")

So I provisionally conclude that:
A) the canonical data needs to be fix

[2018-01-10 17:07] martinfreedman commented on #367
My PR follows the format of the Haskell page, borrowing from the C# wikipedia entry with my own additions and incorporating items from @Warlaan

[2018-01-11 18:22] martinfreedman opened #513 "Changed Unit tests confuses code reviewing and code commentary"
For example Erik see my comment on your solution to TwoBuckets.

Just want some way to know that exercise was completed for some old(er) test suite.

[2018-01-12 07:19] ErikSchierboom commented on #507
To check if A) has been noted anywhere, please go to the [problem-specifications repo](https://github.com/exercism/problem-specifications/issues).

Once it has been fixed in A), I'll make sure B) is done.

[2018-01-12 07:24] ErikSchierboom opened #514 "Add header with version to exercises that have no generator"

[2018-01-12 07:24] ErikSchierboom commented on #513
Well, some exercises are nowadays created using a test data generator, which automatically includes the version of the canonical data in the header: https://github.com/exercism/csharp/blob/master/exercises/atbash-cipher/AtbashCipherTest.cs#L1

But we should indeed also add something like that to non-generator exercises, which is why I created #514.

[2018-01-12 09:18] martinfreedman commented on #514
Like it

[2018-01-12 09:23] martinfreedman commented on #513
Agreed

[2018-01-12 09:23] #513 closed

[2018-01-13 12:47] martinfreedman commented on #507
My bad, misread the Readme . Thanks @petertseng

[2018-01-13 12:47] #507 closed

[2018-01-15 16:24] robkeim commented on #514
@martinfreedman exercises that we're auto-generating automatically bump up the version number as the canonical data (input used to generate the unit tests). The only case we have to be careful with is a non-generated file with a version that moves to a generator in the future. It might be sort of an edge case, but we want a way to not "go down in versions" when the generator is created for a speci

[2018-01-18 18:48] martinfreedman commented on #508
Need to do React, not there yet in the language track (On Connect but not started). WIll download it manually and then report back

[2018-01-18 19:13] ErikSchierboom commented on #508
Okay, thanks for checking into it!

[2018-01-18 19:42] martinfreedman commented on #514
@robkeim But this info is not visible on the web site, when we are looking at others' solution?

[2018-01-18 20:13] martinfreedman opened #516 "RNA Transcription Canonical Test are not testing for rna.Transcribe() "ToDna""
This is a simple enough challenge as it is but a key was to reverse the transposition. This has been lost as the new tests no longer test for Complement.ToDna(string) but only Complement.ToRna(string) but as RnaTranscription.ToRna(string). This IMHO has really impoverished this exercise

[2018-01-21 16:04] robkeim commented on #516
@martinfreedman I believe this was an explicit decision to remove the conversion back as while it makes sense from a programming perspective it doesn't from a biological one:
- https://github.com/exercism/plsql/issues/11
- https://github.com/exercism/problem-specifications/issues/148

[2018-01-21 20:49] ErikSchierboom commented on #514
Well, I think we don't need to do this, because as far as I understood, the Exercism reboot (slated for release somewhere this year) also includes the test file IIRC. This means that you always get to see which test file a solution was submitted for, which would make adding the version to the example file not necessary. However, if people think it would be a good idea to also include the version n

[2018-01-21 20:53] martinfreedman commented on #516
WTF! https://en.wikipedia.org/wiki/Reverse_transcriptase!!! I does exist biologically and it, AFAICS, ruins to point of this already simple exercise.

[2018-01-21 21:00] martinfreedman commented on #514
I was more aguing to see it on the relevant web page not in the code itself. A user could delete it. If the new site has an alternate solution supplying the test file, then good.

But on that latter point what if the user alters the test file so their solution passes?

[2018-01-22 06:54] ErikSchierboom commented on #516
@martinfreedman This discussion is probably a better fit for `exercism/problem-specifications`. There is an [open PR](https://github.com/exercism/problem-specifications/pull/1134) that involves this specific exercise, and it is better to have these discussions there.

[2018-01-22 06:54] #516 closed

[2018-01-22 09:03] martinfreedman commented on #516
Yup already moved there

[2018-01-22 09:26] martinfreedman commented on #514
Yes, after thinking about that, I agree. Further being able to see the tests, one can comment on that too!

Given this will be on the new site  I think we can close this

[2018-01-22 09:52] ErikSchierboom commented on #514
Okay, closed.

[2018-01-22 09:52] #514 closed

[2018-02-02 12:36] robkeim opened #517 "Implement rational numbers exercise"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/rational-numbers/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/rational-numbers/canonical-data.jso

[2018-02-20 21:04] GKotfis commented on #420
I have a solution but need to resolve one problem with the same description for two test. If you take a look at [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/robot-simulator/canonical-data.json) description _"does not change the position"_ appears two times. So it renders two methods with the same name. Two ideas come to my mind:
1. Update canonical data

[2018-02-21 14:43] ErikSchierboom commented on #420
@GKotfis There already is such an option in the `CanonicalDataCase` class: `UseFullDescriptionPath`.

[2018-02-22 10:49] ErikSchierboom commented on #420
Closed by #521.

[2018-02-23 09:26] #414 closed

[2018-02-23 09:27] #420 closed

[2018-03-09 04:29] kytrinyx opened #523 "CSharp Clock IEquatable is not required for tests"
From @Gander7 in https://github.com/exercism/exercism.io/issues/3736

-----

Unless I'm doing something wrong or I'm entering this issue in the wrong place,

csharp Clock challenge README.md mentions that implementing IEquatable is required for the challenge.
I was able to complete the csharp Clock challenge without implementing IEquatable or creating any equality functions.

There are no tests, t

[2018-03-09 07:13] ErikSchierboom commented on #523
This is due to an outdated readme. Will fix this!

[2018-03-14 10:16] nywilken opened #524 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121), the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-03-15 02:10] #524 closed

[2018-03-17 09:16] #523 closed

[2018-04-01 11:23] robkeim opened #527 "Implement Yacht exercise"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/canonical-data.json

[2018-04-01 17:22] ShamilS commented on #527
I have just completed this task implementation using .NET 4.6.2 Console App and NUnit 3.10.1 against current defined test set.
The solution is currently committed and pushed to [my forked repository's **_yacht-dice-game_** branch](https://github.com/ShamilS/csharp/tree/yacht-dice-game/exercises/yacht).
I'm not sure how to proceed further: I'm new to GitHub and exercism.io.
Should I convert the sol

[2018-04-02 07:25] ErikSchierboom commented on #527
@ShamilS Perhaps you could first contact @robkeim, as he indicated that he was already starting with this issue?

[2018-04-02 08:07] ShamilS commented on #527
Erik, OK I can contact Rob (@robkeim). How should I do that?

I must note I didn't know that Rob has already been working on this task when I have got it solved yesterday: I have just jumped into this exercism.io site yesterday morning and I'm new to all this GitHub cooperation.  My notice on my version of Yacht problem solution and its code can be neglected by Rob et al - no problem.

[2018-04-02 09:23] ShamilS opened #528 "The _Exercises_ solution compilation/rebuilding under VS2017 v.15.3.3 results in a long list of compilation errors."
The _**Exercises**_ solution compilation/rebuilding under VS2017 v.15.3.3 on Win 10 Pro v.1709, .NET Core 2.0 (see version details in P.S.) results in a long list of compilation errors. Unloading the following projects:

- AtbashCipher
- DotDsl
- ErrorHandling
- Etl
- Hangman
- LargestSeriesProduct
- Pangram
- React

solves the issue.

I may give it a try to fix the compilation errors in the liste

[2018-04-02 17:18] robkeim commented on #527
Hello @ShamilS you can contact me here is perfect :) Welcome to Exercism.io, GitHub, and open source!

I had this on my todo list, but hadn't started it yet so there's no wasted work and @ErikSchierboom and I would be very happy to have you contribute!

Looking through your branch it looks like you would need to update your generator to conform with what we already have. Hopefully that will make a

[2018-04-02 17:24] robkeim commented on #528
Hello @ShamilS, thanks for reporting this issue. We'd definitely appreciate you helping us fix this! Could you share the compilation errors with us (or at least the first few since you said the list is very long)?

In terms of solving them in one PR or multiple PRs it depends on how complex the needed changes are. If it's something where one reference needs to be changed in the csproj then it prob

[2018-04-02 18:28] ErikSchierboom commented on #528
@ShamilS Well, actually the purpose of the solution is not to build all projects successfully. This is for a rather simple reason: some projects have a starting point where we would like to help them out a bit, but not too much. In some of these cases, this results in projects that can't be built by default: the user has to do something to make them compile. This is precisely the goal of the exerc

[2018-04-02 18:31] ErikSchierboom commented on #527
@ShamilS As @robkeim said, it is probably best to look at other PR's that have added a new exercise. The documentation for the generators is indeed lacking, but most of it should be fairly easy to figure out.

If you have any specific questions you can also contact us in our [gitter channel](https://gitter.im/exercism/xcsharp).

[2018-04-02 20:01] ShamilS commented on #528
Hi Rob and Erik --

I have attached the errors log to this posting. Please note that I haven't yet tried to analyse/fix them - I have just unloaded several projects with errors projects to have to rest of solution's projects compiled successfully. I was unaware that this solution could be intentionally/by design made as having compile time errors.

P.S. Compile time errors for VS2017:

[exercises.

[2018-04-02 21:11] ShamilS commented on #527
Hi Rob and Erik --

Thank you for your welcoming me to join contributing to this project!
Yes, I will have to learn the Git(Hub) workflow to find the way to properly publish PRs for your review. I will check and I will read through the references you've provided here. I may ask a few questions in the coming days.

Meanwhile as Rob (@robkeim) proposed I have made .NET Core 2.0 solution for the Yach

[2018-04-03 06:57] ErikSchierboom commented on #527
@ShamilS Perhaps it would be best if you submitted a PR so that we can comment on that PR? Please look at [this PR](https://github.com/exercism/csharp/pull/490/files) to see which files you are supposed to edit. Note that you should not create test file manually, that should be done using a test generator. In the aforementioned PR, there is a class added to the generators projects. After adding th

[2018-04-03 06:59] ErikSchierboom commented on #528
What you should try to do is to open a command prompt in one of the faulty exercise directories and then try to run `dotnet build` to see if there are any errors.

[2018-04-03 10:08] ShamilS commented on #528
Done.

The following projects:

- DotDsl
- Hangman
- React

still result in compilation errors. That should be a feature by design AFAIU now.

On the other hand I'd expect to have the same set of compilation errors produced by VS2017 and _dotnet build_'s. But it's different - this difference should be considered MS problem not the problem/issue of the exercism.io C# sources?

P.S. The compilation

[2018-04-03 10:47] ErikSchierboom commented on #528
Yes that is indeed odd, but indeed not something we can fix. So if I understand correctly, only the three above mentioned projects fail (which is indeed by design)?

[2018-04-03 11:53] ShamilS commented on #527
@ErikSchierboom - Done. Please check it here: ['Yacht' problem solution is ready for PR](https://github.com/exercism/csharp/pull/529)

P.S. BTW, this is my first PR on GitHub. Time to celebrate! ;)

[2018-04-03 12:13] ErikSchierboom commented on #527
🎉! The PR is already looking quite nice! I've added my comments in the PR. Thanks for helping us with this.

[2018-04-03 12:29] ShamilS opened #530 "Problem/proposal/solution: Make s set of a side 'all-in-one' TotalExercism.csproj project(s) from exercises.sln with 100+ projects"
**Problem**: _exercises.sln_ solution having currently 100+ projects is unmanageable under VS2017 IDE - it takes "ages" just to load/unload solution/rebuild depedencies/recompile. And there is no way to run xUnit tests by VS2017's _Test Explorer_.

**Proposal**: make 'all-in-one' side project/solution having all the sources of the exercises.sln' projects. Actually it would be better to have three

[2018-04-03 13:07] ShamilS commented on #527
Thank you, Erik! I have made most of the fixes you requested. Some requested code corrections do not compile well. Please see my comments in the PR and advise how to proceed further with this or a new PR.

[2018-04-03 14:19] #528 closed, assigned to nobody

[2018-04-03 14:28] ErikSchierboom commented on #530
I understand what you are aiming to do, but as the exercises themselves are all stand-alone applications, editing everything from a single solution is not the desired workflow. Also, some projects used to have interferring types, which meant that they couldn't be compiled in the same solution. Another issue you mention is the usage of the `Example`/non-Example files.

To workaround these issues, w

[2018-04-03 15:36] ShamilS commented on #530
Yes, then the solution file for 100+ projects should be better removed altogether.

Although, in my opinion, running the tests via VS2017 Test Explorer in 'all-in-one' solution is rather useful option - it's a compact and a visual representation how well all the tests perform, it's possible to compare the execution time for different tests (from different problems' solutions) to find more optimal

[2018-04-03 16:17] ShamilS commented on #527
@ErikSchierboom & @robkeim, I have just pushed updated for my PR. Please check.

@ErikSchierboom, I think I have addressed and I have fixed all your requests including solution code changes (I was in a hurry this morning on first round of correction, and I have made mistakes with code changes). They should be OK now,

@robkeim,  I haven't yet (in this PR) used _enum_ for the second function argume

[2018-04-03 16:48] ErikSchierboom commented on #527
@ShamilS I've just reviewed the second iteration! For the places where the generator has to have some logic, I've included links to existing generators that do something similar.

[2018-04-03 17:35] ShamilS commented on #527
@ErikSchierboom Thank you, I see your review. I will make the changes tomorrow.

[2018-04-04 07:58] ErikSchierboom commented on #530
We used to have different solutions as you suggested, but it ended up not being useful at all hence we removed them. I'd be happy to take a PR that also removes this last solution file.

[2018-04-04 12:36] ShamilS commented on #530
Well, if there is no better alternative in your opinion, then I'd leave the current solution as is, maybe commenting it that it's left just as an overview.

[2018-04-04 14:41] ErikSchierboom commented on #527
Closed by #529.

[2018-04-04 14:41] #527 closed

[2018-04-04 14:42] ErikSchierboom commented on #530
Okay, I'll close this issue then.

[2018-04-04 14:42] #530 closed

[2018-04-04 15:50] ShamilS commented on #517
@robkeim If nobody else would take it in the coming few days, then I will take it to make it completed within, say 10 days. I have got the tests already generated here [Rational-Numbers (first Try)](https://github.com/ShamilS/csharp/tree/rational-numbers-first-try)

[2018-04-04 16:10] ErikSchierboom opened #531 "Use .NET Core version of Cake"
At the moment, we use a CoreCLR specific version of Cake in order to run Cake on .NET Core. However, with [release 0.26.0](https://cakebuild.net/blog/2018/02/cake-v0.26.0-released), Cake is now a .NET standard 2.0 application and as such should also be able to be run directly on .NET Core. We should update our build script to use Cake instead of Cake.CoreCLR, as this will allow us to remove the .N

[2018-04-04 16:27] ShamilS commented on #517
@ErikSchierboom OK, let's set deadline for the first PR for the 14th of April.

[2018-04-04 17:01] robkeim commented on #517
@ShamilS yes please feel free to take this, your help is much appreciated!

[2018-04-04 19:53] ShamilS commented on #517
@ErikSchierboom and @robkeim I have actually made the first version, which runs all the tests "green". But there are two issues:

1. Math.Power is used in the following method:

[code]

Any hints how to get out of using Math.Power at all?

2. Assert.Equal do not get properly verified to True when they compare equal(?) double numbers - to make the tests pass I've currently had to convert an expecte

[2018-04-04 20:02] robkeim commented on #517
@ShamilS regarding the second issue we had the same problem with the `ComplexNumbers` exercise (this is a common problem when dealing with high precision numbers) and the common convention is to check the numbers are equal with a difference threshold. You can see what we did for `ComplexNumbers` here:
https://github.com/exercism/csharp/blob/378ef262f888f6ebed411532fe9fcbbfea835601/generators/Exerc

[2018-04-04 20:04] robkeim commented on #517
Here's the MSDN for the `Assert.Equal` overload being used:
https://msdn.microsoft.com/en-us/library/ms243458.aspx

[2018-04-04 20:05] robkeim commented on #517
Clicked the wrong button didn't mean to close this issue.

[2018-04-04 20:39] ShamilS commented on #517
@robkeim Yes, if the power is an integer it can be simulated by multiplying but the issue is with the cases as:

    8 ^ (4/3)  and 9 ^ (-1/2)

For this case logarithms can be probably used? - If logarithms will work would using Math.Log(...) be acceptable for this exercise solution?

[2018-04-04 20:41] ErikSchierboom commented on #517
Maybe take a look at the corresponding F# PR: https://github.com/exercism/fsharp/pull/514

[2018-04-04 20:50] ShamilS commented on #517
@ErikSchierboom  Yes, **nthroot** method from F# PR should help. I will take my time now, 10 days as planned - should be enough to solve the two issues I have mentioned above + clean the code to make it ready for PR.

[2018-04-13 20:28] ShamilS commented on #517
@ErikSchierboom and @robkeim I have just released a PR. Please check.

[2018-04-15 07:36] ErikSchierboom commented on #202
I've given this topic a little bit more thought, and in the end I don't think we stand to benefit much from having a Docker image with Exercism pre-installed. If someone wants to convince me otherwise, please let me know why you think this is a good idea.

[2018-04-15 07:36] #202 closed

[2018-04-16 07:57] ErikSchierboom commented on #517
Closed by #533.

[2018-04-16 07:57] #517 closed

[2018-04-16 10:55] ShamilS opened #534 "Implement 'Binary' generator and solution"
I've started to work on subject using its [description](https://github.com/exercism/problem-specifications/blob/master/exercises/binary/description.md) and [canonical data set](https://github.com/exercism/problem-specifications/blob/master/exercises/binary/canonical-data.json).

[2018-04-16 11:07] ErikSchierboom commented on #534
@ShamilS Ah, you've found a bug in the unimplemented listing. It doesn't take into account deprecated exercises (of which there are four: binary, trinary, octal and hexadecimal). Sorry about that.

[2018-04-16 11:07] #534 closed

[2018-04-16 11:08] ErikSchierboom opened #535 "Don't list deprecated exercises as unimplemented"
The generator can list unimplemented exercises by using `dotnet run -s Unimplemented`, however the unimplemented list contains deprecated exercises, which should be excluded.

[2018-04-16 11:29] ShamilS commented on #534
@ErikSchierboom  Yes, I have found it's marked as deprecated.
And before reading this your post I have just got it implemented and tested OK replacing manually prepared tests.
Never mind - I'd take 'binary-search-tree'. Please open an issue for it.
Thank you.

[2018-04-16 13:08] ErikSchierboom opened #536 "Add binary-search-tree generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/binary-search-tree/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/binary-search-tree/canonical-data

[2018-04-16 13:08] ErikSchierboom opened #537 "Add change generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/change/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/change/canonical-data.json

[2018-04-16 13:09] ErikSchierboom opened #538 "Add forth generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/forth/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/forth/canonical-data.json

[2018-04-16 13:09] ErikSchierboom opened #539 "Add go-counting generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/go-counting/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/go-counting/canonical-data.json

[2018-04-16 13:09] ErikSchierboom opened #540 "Add grep generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/grep/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/grep/canonical-data.json

[2018-04-16 13:09] ErikSchierboom opened #541 "Add markdown generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/markdown/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/markdown/canonical-data.json

[2018-04-16 13:10] ErikSchierboom opened #542 "Add matrix generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/matrix/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/matrix/canonical-data.json

[2018-04-16 13:10] ErikSchierboom opened #543 "Add palindrome-products generator"
If you want to implement this exercise, please note that you need to ensure the test cases are generated based on the input.

Here's the exercise description:
https://github.com/exercism/problem-specifications/blob/master/exercises/palindrome-products/description.md

Here's the test case data:
https://github.com/exercism/problem-specifications/blob/master/exercises/palindrome-products/canonical-da